{% extends "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/matches.css" %}">

  {% block head %}
  <title>Match details - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
<h2>Below is the details for Match {{ match.id }}</h2>
<table class="table">
    <thead>
    <tr>
        <th>Format</th>
        <th>
            {% if match.teamformat == 0 %}
            1v1
            {% elif match.teamformat == 1 %}
            2v2
            {% elif match.teamformat == 2 %}
            3v3
            {% elif match.teamformat == 3 %}
            4v4
            {% elif match.teamformat == 4 %}
            5v5
            {% elif match.teamformat == 5 %}
            6v6
            {% endif %}
        </th>
    </tr>
    </thead>
    <tr>
        <td>Game</td>
        <td>{{ match.game}}</td>
    </tr>
    <tr>
        <td>Platform</td>
        <td>{{ match.platform }}</td>
    </tr>
    <tr>
        <td>Home Team</td>
        <td><a href="{% url 'teams:detail' pk=match.hometeam_id %}">{{ match.hometeam }} </a></td>
    </tr>
    <tr>
        <td>Away Team</td>
        <td><a href="{% url 'teams:detail' pk=match.awayteam_id %}">{{ match.awayteam }} </a></td>
    </tr>
    <tr>
        <td>Best Of</td>
        <td>{{ match.bestof }}</td>
    </tr>
    <tr>
        <td>Start</td>
        <td>{{ match.start }}</td>
    </tr>
    <tr>
        <td>Winner</td>
        <td>{{match.winner}}</td>
    </tr>
    <tr>
        <td>Completed</td>
        <td>{{match.completed}}</td>
    </tr>
    <tr>
        <td>Reported</td>
        <td>{{match.reported}}</td>
    </tr>
    <tr>
        <td>RULES</td>
        <td><a href="#">Read here</a></td>
    </tr>

</table>
    <a href="{% url 'matches:report' pk=match.id %}"><h2>Submit your match report here.</h2></a>
{% endblock %}