{% extends "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/matches.css" %}">

  {% block head %}
  <title>Match details - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
<h2>Below is the details for Match {{ match.id }}</h2>
<table class="table">
    <thead>
    <tr>
        <th>Format</th>
        <th>{{ match.teamformat }}</th>
    </tr>
    </thead>
    <tr>
        <td>Game</td>
        <td>{{ match.game}}</td>
    </tr>
    <tr>
        <td>Platform</td>
        <td>{{ match.platform }}</td>
    </tr>
    <tr>
        <td>Best Of</td>
        <td>{{ match.bestof }}</td>
    </tr>
    <tr>
        <td>Start</td>
        <td>{{ match.start }}</td>
    </tr>
    <tr>
        <td>Winner</td>
        <td>{{match.winner}}</td>
    </tr>
    <tr>
        <td>Completed</td>
        <td>{{match.completed}}</td>
    </tr>
    <tr>
        <td>Reported</td>
        <td>{{match.reported}}</td>
    </tr>
    <tr>
        <td>RULES</td>
        <td><a href="#">Read here</a></td>
    </tr>

</table>
    <a href="{% url 'matches:report' %}"><h2>Submit your match report here.</h2></a>
{% endblock %}