{% extends 'stock/base.html' %}

{% block head %}
<title>Create Wager Challenge - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}

    <p>By creating a wager challenge you are accepting a teams request for a wager. By accepting this wager all other requests <br>
    (if any) that you have posted will be cancelled.<br>
    Please select the team that you would like to play this challenge with.
</p>
    {{ form.errors }}

    <form method="POST" action="{% url 'wagers:challenge_create' pk=myrequest.id %}">
        <table class="table">
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <input type="submit" value="Create"/>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}