{% extends 'stock/base.html' %}
{% block head %}
    <title>Wagers {{ wrequest.id }} - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}
    <table class="table">
        <tr>
            <td>Request Posted</td>
            <td>
                <script>
                    const date = new Date("{{ wrequest.posted|safe }}");
                    console.log(date);
                    document.write(date.toLocaleString());
                </script>
            </td>
            <td>{{ wrequest.posted }}</td>
        </tr>
        <tr>
            <td>Team</td>
            <td>{{ wrequest.team }}</td>
        </tr>
        <tr>
            <td>Challenge Accepted?</td>
            <td>{{ wrequest.challenge_accepted }}</td>
        </tr>
        <tr>
            <td>Request Expiration</td>
            <td>

                <script>
                    const date2 = new Date("{{ wrequest.expiration|safe }}");
                    console.log(date2);
                    document.write(date2.toLocaleString());
                </script>
            </td>
            <td>{{ wrequest.expiration }}</td>
        </tr>
        <tr>
            <td>Expired?</td>
            <td>{{ wrequest.expired }}</td>
        </tr>
        <tr>
            <td>Credits Wagered</td>
            <td>{{ wrequest.credits }}</td>
        </tr>
        <tr>
            <td>Game</td>
            <td>{{ wrequest.game.name }}</td>
        </tr>
        <tr>
            <td>Platform</td>
            <td>{{ wrequest.platform.name }}</td>
        </tr>
        <tr>
            <td>Best of series</td>
            <td>{{ wrequest.bestof }}</td>
        </tr>
        <tr>
            <td>Team format</td>

            <td>{% if wrequest.teamformat == 0 %}
                1v1
            {% elif wrequest.teamformat == 1 %}
                2v2
            {% elif wrequest.teamformat == 2 %}
                3v3
            {% elif wrequest.teamformat == 3 %}
                4v4
            {% elif wrequest.teamformat == 4 %}
                5v5
            {% elif wrequest.teamformat == 5 %}
                6v6
            {% endif %}</td>
        </tr>
        <tr>
            <td>Info</td>
            <td>{{ wrequest.info }}</td>
        </tr>
        <tr>
            <td>Creator</td>
            <td>{{ wrequest.creator }}</td>
        </tr>
    </table>
    {% if request.user != wrequest.creator and wrequest.expired == False and wrequest.challenge_accepted == False %}
        <p><a href="{% url 'wagers:challenge_create' pk=wrequest.pk %}">Challenge this team!</a></p>
    {% endif %}
    {% if request.user == wrequest.creator %}
        <!-- it is the creator let them cancel the request if they'd like-->
        <a href="{% url 'wagers:request_delete' pk=wrequest.pk %}">
            <button class="btn btn-primary" value="Delete">Delete</button>
        </a>
        <form method="post" action="{% url 'wagers:request_delete' pk=wrequest.pk %}">
            <input type="submit">Delete</input>
        </form>
    {% endif %}
    {% if wrequest.wmatch %}
        <a href="{% url 'wagers:match_detail' pk=wrequest.id %}">View the match here</a>
    {% endif %}
{% endblock %}