{% extends "ot/base.html" %}
{% load staticfiles %}
  {% block head %}
  <title>News - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}



<div class="container min-width page1">
 <div class="space90"></div>
{% for post in posts %}
 <div class="col-xs-12 col-sm-6 col-md-4">
  <div class="panel panel-default">
   <div class="panel-body">
      <img src="{% static 'ot/images/slider1.jpg' %}"><br>
       <h4><b>{{ post.title }}</b></h4>
       <h4><b>Author: {{ post.author }}</b> <br /><b>Published: {{ post.publish }}</b></h4>
       <p>{{ post.body|truncatewords:30|linebreaks }} </p>
       <a class="btn btn-transparent btn-block btn-sm" href="{{ post.get_absolute_url }}"> READ MORE </a>
   </div>
  </div>
 </div>
{% endfor %}
    {% include "pagination.html" with page=posts %}


</div>
{% endblock %}