{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'binge/images/favicon.ico' %}" type="image/x-icon">
  {% block head %}
  <title>PageName - {{ SITE_NAME }}</title>
  {% endblock %}
    <meta name="description" content="">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'binge/css/bootstrap.min.css' %}">
  <link href="{% static 'binge/css/mdb.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'binge/css/style.css' %}">
  <script type="text/javascript" src="{% static 'binge/js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'binge/js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'binge/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'binge/js/mdb.min.js' %}"></script>

</head>
<body>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">

       <div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
                            {% if not user.is_anonymous %}
							<div class="col-xs-6">
								<a href="{% url 'login' %}" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="{% url 'register' %}" id="register-form-link">Register</a>
							</div>
                            {% else %}
                           <div class="col-xs-6">
                               <a href="{% url 'profiles:profile' urlusername=user %}">{{ user }}</a>
                           </div>
                            {% endif %}
						</div>
						<hr>
					</div>

				</div>

      </div>

    </div>
  </div>
</div>
<!-------------------------->
<div class="hidden-xs hidden-sm hidden-md" style="position:fixed;top:0px;right:10px;z-index:999999;">

                            {% if user.is_anonymous %}

<a class="btn btn-default" href="{% url 'register' %}" data-toggle="modal" data-target="#myModal"> SIGN UP </a> <a class="btn btn-primary" href="{% url 'login' %}" data-toggle="modal" data-target="#myModal"> LOGIN </a>
{% else %}
  <a class="btn btn-default" href="{% url 'profiles:profile' urlusername=user %}" data-toggle="modal" data-target="#myModal"> {{ user }} </a>
    {% endif %}
</div>
 <nav class="navbar navbar-default" role="navigation">
   <div class="container-fluid" style="position:relative;">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{% static 'binge/images/logo.png' %}"/></a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/">HOME</a></li>
      <li><a href="{% url 'singletournaments:list' %}">TOURNAMENTS</a></li>
      <!--<li><a href="index.php">TEAMS</a></li>-->
      <li><a href="{% url 'profiles:leaderboard' %}">LEADERBOARDS</a></li>
        <!--
      <li><a href="index.php">FREE AGENTS</a></li>
      <li><a href="index.php">STAFF</a></li>-->
      <li><a href="{% url 'store:store' %}">STORE</a></li>
    </ul>
  </div>

  </div>
</nav>
<!--
<section class="topbar hidden-xs">
 <div class="container">
  <div class="col-xs-6 col-sm-3">
   <a href="#"><img src=" static 'binge/images/sponsor1.png' %}"/></a>
  </div>
  <div class="col-xs-6 col-sm-3">
   <a href="#"><img src=" static 'binge/images/sponsor1.png' %}"/></a>
  </div>
  <div class="col-xs-6 col-sm-3">
   <a href="#"><img src=" static 'binge/images/sponsor1.png' %}"/></a>
  </div>
  <div class="col-xs-6 col-sm-3">
   <a href="#"><img src=" static 'binge/images/sponsor1.png' %}"/></a>
  </div>
 </div>
</section>
-->
