{% extends "binge/base.html" %}
{% load staticfiles %}
  {% block head %}
  <title>{{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
 <section class="hidden-xs hidden-sm">

   <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 nopad">
     <div class="row">

     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12">
      <div class="event" style="background-image:url({% static 'binge/images/event1.jpg' %});">
       <h1>{{ staticinfo.bingetop1 }}</h1>
       <!--<h2>SEASON ONE</h2>-->
       <a class="btn btn-primary btn-md" href="{{ staticinfo.bingetop1link }}">VIEW DETAILS</a>
      </div>
     </div>

     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12">
      <div class="event" style="background-image:url({% static 'binge/images/event2.jpg' %});">
       <h1>{{ staticinfo.bingetop2 }}</h1>
       <!--<h2>SEASON ONE</h2>-->
       <a class="btn btn-primary btn-md" href="{{ staticinfo.bingetop2link }}">VIEW DETAILS</a>
      </div>
     </div>

     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12">
      <div class="event" style="background-image:url({% static 'binge/images/event3.jpg' %});">
       <h1>{{ staticinfo.bingetop3 }}</h1>
       <!--<h2>SEASON ONE</h2>-->
       <a class="btn btn-primary btn-md" href="{{ staticinfo.bingetop3link }}">VIEW DETAILS</a>
      </div>
     </div>

     </div>
    </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 nopad">
     <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="{% if staticinfo.slide1_image != "" %}{{ staticinfo.slide1_image.url }}{% else %}{% static 'binge/images/slider1.jpg' %}{% endif %}" alt="Slide1">
      <div class="carousel-caption">
        <h3>{{ staticinfo.bingeslide1big|linebreaksbr }}</h3>
        <p>{{ staticinfo.bingeslide1small }}</p>
          <a class="btn btn-primary btn-md" href="{{ staticinfo.bingeslide1link }}">VIEW DETAILS</a>
      </div>
    </div>

    <div class="item">
      <img src="{% if staticinfo.slide2_image != "" %}{{ staticinfo.slide2_image.url }}{% else %}{% static 'binge/images/slider2.jpg' %}{% endif %}" alt="Slide2">
      <div class="carousel-caption">
        <h3>{{ staticinfo.bingeslide2big|linebreaksbr }}</h3>
        <p>{{ staticinfo.bingeslide2small }}</p>
          <a class="btn btn-primary btn-md" href="{{ staticinfo.bingeslide2link }}">VIEW DETAILS</a>
      </div>
    </div>

    <div class="item">
      <img src="{% if staticinfo.slide3_image != "" %}{{ staticinfo.slide3_image.url }}{% else %}{% static 'binge/images/slider1.jpg' %}{% endif %}" alt="Slide3">
      <div class="carousel-caption">
        <h3>{{ staticinfo.bingeslide3big|linebreaksbr }}</h3>
        <p>{{ staticinfo.bingeslide3small }}</p>
          <a class="btn btn-primary btn-md" href="{{ staticinfo.bingeslide3link }}">VIEW DETAILS</a>
      </div>
    </div>

  </div>

    </div>
    </div>

   </div>

  </section>

  <section>
   <div class="container">
       <!--
     <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="row"><div class="col-xs-12"><div class="main-title">LADDERS<br>
   <span>JOIN AN UPCOMING LADDER</span></div></div></div>
      <div class="row">
       <div class="col-xs-12 col-sm-6 bot10">
        <div class="game1">
         <img src=" static 'binge/images/bops4.jpg' %}"><br>
         <div class="join-b"><a class="btn btn-primary btn-xs" href="#">JOIN NOW</a></div>
         <div class="overlay1"><b>FALL LADDER</b><br>
         Starts: August 31st, 2018 | 9PM EST</div>
        </div>
       </div>
       <div class="col-xs-12 col-sm-6 bot10">
        <div class="game1">
         <img src=" static 'binge/images/ww2.jpg' %}"><br>
         <div class="join-b"><a class="btn btn-primary btn-xs" href="#">JOIN NOW</a></div>
         <div class="overlay1"><b>FALL LADDER</b><br>
         Starts: August 31st, 2018 | 9PM EST</div>
        </div>
       </div>
      </div>
      <div class="row">
       <div class="col-xs-12 col-sm-6 bot10">
        <div class="game1">
         <img src=" static 'binge/images/fortnite1.jpg' %}"><br>
         <div class="join-b"><a class="btn btn-primary btn-xs" href="#">JOIN NOW</a></div>
         <div class="overlay1"><b>FALL LADDER</b><br>
         Starts: August 31st, 2018 | 9PM EST</div>
        </div>
       </div>
       <div class="col-xs-12 col-sm-6 bot10">
        <div class="game1">
         <img src=" static 'binge/images/h1z1.jpg' %}"><br>
         <div class="join-b"><a class="btn btn-primary btn-xs" href="#">JOIN NOW</a></div>
         <div class="overlay1"><b>FALL LADDER</b><br>
         Starts: August 31st, 2018 | 9PM EST</div>
        </div>
       </div>
      </div>
     </div>--->

      <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="row"><div class="col-xs-12"><div class="main-title">TOURNAMENTS<br>
   <span>JOIN AN UPCOMING TOURNAMENT</span></div></div></div>

      <div class="row">
      {% if list.count == 0 %}
      No Tournaments!
      {% endif %}
          {% for tournament in list %}
       <div class="col-xs-12 col-sm-6 bot10">
        <div class="game1">
         <img src="{% if tournament.image != "" %}{{ tournament.image.url }}{% endif %}"><br>
         <div class="join-b"><a class="btn btn-primary btn-xs" href="{% url 'singletournaments:detail' pk=tournament.id %}">JOIN NOW</a></div>
         <div class="overlay1"><b>{{ tournament.name }}</b><br>
         Starts: {{ tournament.start }}</div>
        </div>
       </div>
           {% endfor %}
       </div>
       </div>
     <!--</div>-->

<!--
      <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="row"><div class="col-xs-12"><div class="main-title">LADDERS<br>
   <span>COMING SOON!</span></div></div></div>

      <div class="row">
          Ladders are coming soon
       </div>
       </div>
              <a class="twitter-timeline" data-height="450" data-theme="dark" data-link-color="#2B7BB9" data-chrome="noheader nofooter noborders transparent noscrollbar" href="https://twitter.com/BingePlay?ref_src=twsrc%5Etfw">Tweets by BingePlay</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

-->

        <div class="col-xs-12 col-sm-12 col-md-6 bot20">
        <div class="row"><div class="col-xs-12"><div class="main-title">LIVESTREAM<br>
   <span>WEEKLY FEATURED MATCH</span></div></div></div>
      <div class="row">
       <div class="col-xs-12">
        <iframe src="https://player.twitch.tv/?channel={{ staticinfo.stream }}" frameborder="0" allowfullscreen="true" scrolling="no" height="450" width="100%"></iframe>
       </div>
      </div>
      </div>
   <div style="clear: both;"></div>
      <div class="" style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;">
        <div >
            <div class="main-title">TWITTER<br>
                <span>FOLLOW OUR TWEETS FOR UPDATES</span>
            </div>
            <a class="twitter-timeline" data-height="400" data-theme="dark" data-link-color="#2B7BB9" data-chrome="noheader nofooter noborders transparent noscrollbar" href="https://twitter.com/BingePlay?ref_src=twsrc%5Etfw">Tweets by BingePlay</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div >
            <img style="display: block; width:100%" src="{% static 'binge/images/steps.png' %}">
        </div>
      </div>


      </div>
   </div>
  <br />
  <br />
  <br />
  </section>

  <section class="news-row hidden-xs hidden-sm">
   <div class="container">
    <div class="col-xs-12">
     <div class="news-title">NEWS & <span>ANNOUNCEMENTS</span></div>
    </div>
    {% for news in newslist %}
    <div class="col-xs-12 col-sm-6 bot20">
     <img src="{% if news.image != "" %}{{ news.image.url }}{% endif %}">
     <div class="text">
       <h2><b>{{ news.title }}</b></h2>
       <h4><a href="{{ news.get_absolute_url }}"><span>READ FULL ARTICLE</span></a></h4>
       {{ news.body|truncatewords:30|linebreaks }}
     </div>
    </div>
       {% endfor %}

   </div>

  </section>

  <section style="padding:60px 0px;">
   <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-6 bot20">
        <div class="row"><div class="col-xs-12"><div class="main-title">TOP<br>
   <span>WEEKLY PLAYERS</span></div></div></div>
      <div class="row">
       <div class="col-xs-12">

           {% for player in playerlist %}
        <div class="top-player">
         <img src="{% static 'binge/images/avatar.jpg' %}">
            <div class="name"><h4><b><a href="{% url 'profiles:profile' urlusername=player %}">{{ player }}</a></b></h4>
         <!--<h6><span>Rank 1st</span></h6>-->
         <h5>{{ player.xp }} XP</h5></div>
         <div class="rank"><b>{{ player.rank }}</b><br>
         <small>PLACE</small></div>
        </div>
{% endfor %}

       </div>
      </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 bot20">
      <div class="row">
       <div class="col-xs-12">
         <iframe src="https://discordapp.com/widget?id=494571160613289995&theme=dark" width="100%" height="380" allowtransparency="true" frameborder="0"></iframe>
       </div>
      </div>
      </div>
   </div>
  </section>
{% endblock %}
