@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700,800,900');

.error {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.warning {
    padding: 20px;
    background-color: #ff5733; /* Orange */
    color: white;
    margin-bottom: 15px;
}

.success {
    padding: 20px;
    background-color: #33ff42; /* Green */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

body {
    background: url(./images/bg.jpg) bottom right no-repeat #151515;
    overflow-x: hidden;
    color: #fff;
    font-family: 'Roboto', Arial, sans-serif;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #02b264;
}

.nav-pills > li > a {
    border-radius: 0px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #222;
}

.nav-tabs > li > a {
    background: #111;
    margin-right: 4px;
    line-height: 1.22857143;
    border: 1px solid #171717;
    border-radius: 0px !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    border: 1px solid #02b264;
    background: #02b264;
    cursor: default;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 5px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #02b264;
    border-radius: 10px;
}

.nav-tabs {
    border-bottom: 0px solid #282828;
    margin-bottom: 20px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #222;
}

@media (min-width: 1300px) {
    .container {
        width: 1300px;
    }
}

.btn-group.open .dropdown-toggle {
    background: #333;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    margin-right: 0px;
}

.btn-grad1 {
    background-image: linear-gradient(to right, #0b0b0b, #02b264) !important;
    border: 1px solid transparent;
    letter-spacing: 4px;
    font-size: 16px;
}

.modal-footer .btn + .btn {
    margin: 5px !important;
}

.btn-primary {
    background: #242424;
    border-color: #242424;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #242424;
    border-color: #242424;
}

label {
    padding-left: 8px;
}

.panel {
    background-image: linear-gradient(to right, #0b0b0b, #161616) !important;
    border: 0px solid #151515 !important;
}

.panel-default {
    background: #161616;
}

.panel-title {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 1px solid #02b264;
    padding: 8px;
    background-image: linear-gradient(to right, #0b0b0b, #02b264) !important;
    border: 1px solid transparent;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.noborder {
    border-bottom: 0px solid transparent;
}

.panel-body {
    padding: 10px;
}

.info1 {
    display: table;
}

.info1 .desc {
    display: table-cell;
    vertical-align: middle;
}

.info1 .desc h3 {
    font-size: 18px;
    font-weight: bold;
}

.info2 {
    padding: 0px;
    border: 1px solid #02b264;
    background: #02b264;
    ext-align: center;
}

.info1 .btn {
    letter-spacing: 5px;
    text-transform: uppercase;
}

.bot10 {
    margin-bottom: 10px;
}

.bot20 {
    margin-bottom: 20px;
}

.bot30 {
    margin-bottom: 30px;
}

.space80 {
    height: 80px;
}

.page {
    padding: 0px;
}

.main1 {
    margin-top: -120px;
    z-index: 9999;
    position: relative;
}

.jn1 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.ava1 {
    border-radius: 50%;
    border: 2px solid #222;
    margin: 5px;
    max-width: 80% !important;
}

.btn-default {
    border-radius: 3px;
    border: 0px solid transparent;
    border-top: 1px solid #02b264;
    color: #fff;
    font-weight: normal;
    background: #02b264;
    opacity: 1.0;
}

.btn-default:hover {
    border-radius: 3px;
    border: 0px solid transparent;
    border-top: 1px solid #02b264;
    color: #fff;
    font-weight: normal;
    background: #02b264;
    opacity: 0.8;
}

.grad {
    background-image: linear-gradient(to right, #0b0b0b, #161616) !important;
    border: 0px solid #151515 !important;
}

.top-players {
    padding: 15px;
    border-bottom: 1px solid #151515;
    display: table;
    width: 100%;
    height: 50px;
    color: #fff;
}

.top-players:hover {
    color: #ee4141;
    cursor: pointer;
}

.top-players .pull-right {
    margin-top: -26px;
}

.top-players span {
    padding: 4px 12px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    border: 2px solid #fff;
}

.top-players .rank {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
    text-align: center;
}

.top-players .ava {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
    text-align: center;
}

.top-players .ava img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.top-players .player {
    display: table-cell;
    vertical-align: middle;
    width: 68%;
    text-align: left;
}

.overlay1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.70);
    padding: 10px;
    text-align: center;
    z-index: 998;
}

.top-social {
    position: absolute;
    right: 0px;
    top: 19px;
}

.top-social a {
    font-size: 18px;
    color: #fff;
    margin: 0px 8px;
}

.slide {
    position: relative;
    z-index: 10;
    margin-top: 0px;
}

.topbar {
    background: transparent;
    min-height: 80px;
    border-bottom: 1px solid #151515;
    width: 100%;
    margin: 0 auto;
    padding: 1px;
    top: 0px;
    line-height: 80px;
    color: #999;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 999999 !important;
}

.topbar a {
    color: #999;
    font-size: 11px;
    margin-right: 6px;
}

.spacer {
    width: 180px;
}

.navbar, .navbar-default {
    border: 0px solid transparent !important;
    background: transparent;
    width: 100%;
    margin: 0 auto;
    margin-top: 81px;
    z-index: 999;
    border-radius: 0px;
    padding: 18px 0px;
    border-color: transparent !important;
}

.center {
    text-align: center;
}

.title {
    color: #fff;
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}

.title b {
    font-size: 30px;
    font-weight: 900;
}

.footer {
    width: 100%;
    padding: 50px 0px 40px;
    background: transparent;
    color: #fff;
}

hr {
    height: 2px;
    background: #02b264;
    width: 100%;
    border: 0px;
    margin: 10px auto;
}

.bot10 {
    margin-bottom: 10px;
}

.bot15 {
    margin-bottom: 15px;
}

.bot20 {
    margin-bottom: 20px;
}

.gutter-10.row {
    margin-right: -5px;
    margin-left: -5px;
}

.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.carousel-caption {
    padding: 0px;
    max-width: 50%;
    width: 50%;
    background: transparent;
    top: 40%;
    left: 20%;
    text-align: left;
}

.carousel-caption h3 {
    font-size: 60px !important;
    font-weight: 700 !important;
}

.carousel-caption h5 {
    font-size: 30px;
    color: #fff;
    font-weight: 300;
}

#exTab1 {
    margin-bottom: 20px;
    background-color: #060606;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: #282828;
}

img {
    max-width: 100%;
    height: auto;
}

#wrapper {
    width: 100%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.avatar {
    float: left;
    margin-right: 10px;
}

.profile-social {
    text-align: right;
}

red {
    color: #02b264;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

.featured-game span {
    color: #02b264;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #02b264;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.tabs-left {

}

.tabs-right {

}

.tabs-left > li, .tabs-right > li {
    float: none;
    margin-bottom: 2px;
}

.tabs-left > li {
    margin-right: -1px;
}

.tabs-right > li {
    margin-left: -1px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {

}

.tabs-right > li.active > a,
.tabs-right > li.active > a:hover,
.tabs-right > li.active > a:focus {

}

.tabs-left > li > a {
    border-radius: 0px 0 0 0px;
    margin-right: 0;
    display: block;
    background: #151515;
}

.tabs-right > li > a {
    border-radius: 0 0px 0px 0;
    margin-right: 0;
}

.footer li {
    list-style: none;
    padding: 6px;
    background: transparent;
    color: #fff;
    margin: 0px 0px 5px 0px;
    font-size: 12px;
}

.footer a {
    color: #fff;
    padding: 12px 0px;
    line-height: 30px;
}

.footer .fa {
    font-size: 30px;
    margin-left: 6px;
    margin-right: 6px;
}

.footer ul {
    padding-left: 0px;
    margin-left: 0px;
}

a:hover {
    -webkit-filter: brightness(1.1) saturate(1.5);
}

@media (max-width: 1000px) {
    .r11 {
        text-align: left !important;
    }

    .carousel-caption h3 {
        font-size: 35px !important;
        font-weight: 700 !important;
    }

    .slide {
        margin-top: -20px !important;
    }

    .text-right {
        text-align: center;
    }

    .carousel-caption h5 {
        font-size: 20px;
        color: #fff;
        font-weight: 300;
    }

    .page {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main1 {
        margin-top: 0px;
    }
}

td img {
    max-width: 40px !important;
    margin-right: 5px;
}

.tab-content td {
    padding: 14px !important;
}