{% extends "ga/base.html" %}
{% load static %}

{% block head %}
    <title>Tournaments - {{ SITE_NAME }}</title>
{% endblock %}

<link rel="stylesheet" href="{% static "css/singletournament.css" %}">

{% block body %}


    <div class="page-t">
        <div class="container">
            <div class="row bot20">

                <div class="col-xs-12 col-sm-12 col-md-9">
                    <br/>
                    <br/>
                    <div id="new-team">
                        <h2 id="" style="text-decoration: none; margin:8px">
                            <a style="text-decoration:none; color:white;" href="{% url 'teams:create' %}">
                                <i class="fa fa-plus"></i> Create a new team
                            </a>
                        </h2>
                    </div>
                    <!--<section class="slide bot20" style="margin-top:0px;">
                  <div id="myCarousel" class="carousel slide carousel-fade bot20" data-ride="carousel">

                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="images/slider1.jpg" alt="Slide1">
                        <div class="carousel-caption center">
                         <h3>2V2 BETA EVENT</h3>
                          <h5>STARTS THIS WEEKEND!</h5>
                        </div>
                      </div>

                      <div class="item">
                        <img src="images/slider2.jpg" alt="Slide2">
                        <div class="carousel-caption center">
                         <h3>2V2 BETA EVENT</h3>
                          <h5>STARTS THIS WEEKEND!</h5>
                        </div>
                      </div>

                    </div>


                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  </section>--->

                    <div class="panel-default bot20">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="panel-title"><b>UPCOMING TOURNAMENTS</b></div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <!---<ul class="nav nav-tabs">
                                     <li class="active"><a href="#PS4" data-toggle="tab"> <b>PS4</b> </a></li>
                                     <li><a href="#XB1" data-toggle="tab"> <b>XB1</b> </a></li>
                                     <li><a href="#SWITCH" data-toggle="tab"> <b>SWITCH</b> </a></li>
                                     <li><a href="#MOBILE" data-toggle="tab"> <b>MOBILE</b> </a></li>
                                    </ul>--->
                                </div>
                            </div>

                            <div id="myTabContent" class="tab-content">

                                {% if tournament_list.count is 0 %}
                                    No tournaments yet!
                                {% endif %}
                                {% for tournament in tournament_list %}
                                    <div class="col-xs-12 col-sm-6 bot10">
                                        <div class="panel">
                                            <div class="panel-body current-home">
                                                <div class="col-xs-3 info1 info2"><img src="
                                                        {% if tournament.image %}{{ tournament.image.url }}{% else %}{% static 'ga/images/logo.png' %}{% endif %}">
                                                </div>
                                                <div class="col-xs-9 info1">
                                                    <div class="desc">
                                                        <h3>{{ tournament.name }} - {% if tournament.teamformat == 0 %}
                                                            1v1
                                                        {% elif tournament.teamformat == 1 %}
                                                            2v2
                                                        {% elif tournament.teamformat == 2 %}
                                                            3v3
                                                        {% elif tournament.teamformat == 3 %}
                                                            4v4
                                                        {% elif tournament.teamformat == 4 %}
                                                            5v5
                                                        {% elif tournament.teamformat == 5 %}
                                                            6v6
                                                        {% endif %}</h3>
                                                        <b>1st Place Prize: {{ tournament.prize1 }}</b><br>
                                                        Size: {{ tournament.size }}<br>
                                                        Start Date: {{ tournament.start }}<br>
                                                        <br>
                                                        <a href="{% url 'singletournaments:detail' pk=tournament.id %}">
                                                            <h3>JOIN NOW</h3></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}


                            </div>
                        </div>
                    </div>

                    <img src="{% static 'ga/images/how.png' %}">

                    <div class="col-xs-12">
                        <div class="row">
                            <div class="panel-default bot20">
                                <div class="panel-body">
                                    <div class="panel-title"><b>TOP LIVE MATCH</b></div>
                                    <iframe src="https://player.twitch.tv/?channel={{ staticinfo.stream }}" frameborder="0"
                                            allowfullscreen="true" scrolling="no" height="378" width="100%"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-3">
                    {% for partner in partners %}
                        <a href="{{ partner.website }}"><img src="
                                {% if not partner.image.url %}{% static 'ga/images/sponsor1.png' %}{% else %}{{ partner.image.url }}{% endif %}"></a>
                        <br>
                        <br>
                    {% endfor %}


                    <!--<div class="panel-default side1">
                     <div class="panel-body">
                       <div class="panel-title"><b>RECENT RESULTS</b></div>

                       <div class="col-xs-12 current-home bot10" style="background:#161616;padding:5px;">
                         <div class="row">
                           <div class="col-xs-5 info1">
                            <img class="ava1" src="images/team1.jpg"> <img class="ava1" src="images/team2.jpg">
                           </div>
                           <div class="col-xs-7 info1">
                             <div class="desc">
                               <b style="color:green;">15</b>-<b style="color:red;">9</b> <img src="images/bops4-icon.png" width="24" height="24"><br>
                               <small>4v4 SnD Launch Event</small>
                             </div>
                           </div>
                          </div>
                         </div>




                     </div>
                    </div>--->

                    <div class="hidden-xs hidden-sm" style="margin-top:30px;">
                        <img src="{% static 'ga/images/bannertall.jpg' %}">
                    </div>

                </div>


            </div>
        </div>


        <style>
            .footer {
                margin-top: 0px;
            }
        </style>


</div>

{% endblock %}