.vscode
.vs
.idea

# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
*.sqlite3

venv/

olly/media/profile_images/
olly/settings.py
db\.sqlite3\.1

env/Include/

*.tcl

*.msg

env/tcl/tk8\.6/

env/tcl/tcl8\.6/tzdata/


env/
