django>=2.0, <2.1
pillow>=4.2.1
django-taggit>=0.22.2
requests>=2.18.4
django-paypal>=0.4.1
django-ipware>=2.0.1
django-countries>=5.2
psycopg2-binary>=2.7.4
pytz>=2018.4
boto3>=1.7.42
django-storages>=1.6.6