{% load staticfiles %}
 <div class="col-xs-12 space80"></div>

<div class="footer">
  <div class="container">

  <div class="row">

   <div class="col-xs-6 col-sm-6 col-md-3">
   <h5 class="thin">PLATFORMS</h5>
    <a href="#">Playstation 4</a><br>
    <a href="#">Xbox One</a><br>
    <a href="#">Nintendo Switch</a><br>
    <a href="#">Mobile</a><br>
   </div>

   <div class="col-xs-6 col-sm-6 col-md-3">
   <h5 class="thin">OUR SERVICES</h5>
    <a href="#">Hourly Rates</a><br>
    <a href="#">LAN Events</a><br>
    <a href="#">Tournaments</a><br>
    <a href="#">Leagues</a><br>
   </div>

   <div class="col-xs-6 col-sm-6 col-md-3">
   <h5 class="thin">INFORMATION</h5>
    <a href="#">News Posts</a><br>
    <a href="#">Contact Us</a><br>
    <a href="#">Report Match</a><br>
    <a href="#">Terms of Service</a><br>
   </div>

   <div class="col-xs-6 col-sm-6 col-md-3">
   <h3><b>CONTACT US</b></h3>
    <h5>ANYTIME FOR ANYTHING!</h5>
    <div class="form-group">
         <input type="text" placeholder="Message"><br>
         <input style="width:60%;" type="text" placeholder="Email"> <button type="submit" class="btn btn-default contact-us-btn"><b>SUBMIT</b></button>
     </div>
   </div>

  </div>

  </div>
</div>

<div class="footer2">
 <div class="container">
 <div class="col-xs-12 col-sm-6">
  Copyright 2018 &copy; Gamers Asylum | All Rights Reserved
 </div>
 <div class="col-xs-12 col-sm-6" style="text-align:right;">
  FOLLOW US <a href="#"><i class="fa fa-twitter-square"></i></a> <a href="#"><i class="fa fa-facebook-square"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a> <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-twitch"></i></a>
 </div>
</div>
</div>


</body>

</html>
