{% extends "ga/base.html" %}
{% load static %}
{% block head %}
    <title>{{ SITE_NAME }}</title>
{% endblock %}

{% block body %}

    <section class="slide bot20" style="margin-top:0px;">
        <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner">
                <div class="item active">
                    <img src="

                            {% if staticinfo.slide1_img %}{{ staticinfo.slide1_img.url }}{% else %}{% static 'ga/images/slider1.jpg' %}{% endif %}"
                         alt="Slide1">
                    <div class="carousel-caption center">
                        <h3>{{ staticinfo.bingeslide1big }}</h3>
                        <h5>{{ staticinfo.bingeslide1small }}</h5>
                    </div>
                </div>

                <div class="item">
                    <img src="

                            {% if staticinfo.slide2_img %}{{ staticinfo.slide2_img.url }}{% else %}{% static 'ga/images/slider2.jpg' %}{% endif %}"
                         alt="Slide2">
                    <div class="carousel-caption center">
                        <h3>{{ staticinfo.bingeslide2big }}</h3>
                        <h5>{{ staticinfo.bingeslide2small }}</h5>
                    </div>
                </div>

                <div class="item">
                    <img src="

                            {% if staticinfo.slide3_img %}{{ staticinfo.slide3_img.url }}{% else %}{% static 'ga/images/slider1.jpg' %}{% endif %}"
                         alt="Slide2">
                    <div class="carousel-caption center">
                        <h3>{{ staticinfo.bingeslide3big }}</h3>
                        <h5>{{ staticinfo.bingeslide3small }}</h5>
                    </div>
                </div>

            </div>


            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <div class="container main1">

    <div class="row sponsors">
        {% for partner in partners %}
        <div class="col-xs-6 col-sm-3">
            <a href="{{ partner.website }}"><img src="{% if partner.image %}{{ partner.image.url }}{% else %}{% static 'ga/images/sponsor1.png' %}{% endif %}"></a>
        </div>
        {% endfor %}

    </div>

    <div class="row bot20">

        <div class="col-xs-12 col-sm-12 col-md-9">

            <div class="col-xs-12 col-sm-6 bot10 thin">
                <div class="panel-default">
                    <div class="panel-body center">
                        <img src="
                                {% if staticinfo.bingetop1image %}{{ staticinfo.bingetop1image.url }}{% else %}{% static 'ga/images/price-1.jpg' %}{% endif %}">
                        <br>
                        <h2>{{ staticinfo.bingetop1|linebreaksbr }}</h2>
                        <!--<h2>INSANE</h2>-->
                        <br>
                    </div>
                    <div class="price-foot"><h3><b><a
                            href="{{ staticinfo.bingetop1link }}">{{ staticinfo.bingetop1linktxt }}</a></b></h3></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 bot10 thin">
                <div class="panel-default">
                    <div class="panel-body center">
                        <img src="
                                {% if staticinfo.bingetop2image %}{{ staticinfo.bingetop2image.url }}{% else %}{% static 'ga/images/price-2.jpg' %}{% endif %}">
                        <br>
                        <h2>{{ staticinfo.bingetop2|linebreaksbr }}</h2>
                        <!--<h2>INSANE</h2>-->
                        <br>
                    </div>
                    <div class="price-foot"><h3><b><a
                            href="{{ staticinfo.bingetop2link }}">{{ staticinfo.bingetop2linktxt }}</a></b></h3></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 bot10 thin">
                <div class="panel-default">
                    <div class="panel-body center">
                        <img src="
                                {% if staticinfo.bingetop3image %}{{ staticinfo.bingetop3image.url }}{% else %}{% static 'ga/images/price-3.jpg' %}{% endif %}">
                        <br>
                        <h2>{{ staticinfo.bingetop3|linebreaksbr }}</h2>
                        <!--<h2>INSANE</h2>-->
                        <br>
                    </div>
                    <div class="price-foot"><h3><b><a
                            href="{{ staticinfo.bingetop3link }}">{{ staticinfo.bingetop3linktxt }}</a></b></h3></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 bot10 thin">
                <div class="panel-default">
                    <div class="panel-body center">
                        <img src="
                                {% if staticinfo.bingetop4image %}{{ staticinfo.bingetop4image.url }}{% else %}{% static 'ga/images/vip.png' %}{% endif %}">
                        <br>
                        <h2>{{ staticinfo.bingetop4|linebreaksbr }}</h2>
                        <!--<h2>INSANE</h2>-->
                        <br>
                    </div>
                    <div class="price-foot"><h3><b><a
                            href="{{ staticinfo.bingetop4link }}">{{ staticinfo.bingetop4linktxt }}</a></b></h3></div>
                </div>
            </div>
        </div>

            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="panel-title">GET <b>UPDATES</b></div>
                        <div class="form-group">
                            <input type="text" placeholder="Email"><br>
                            <button type="submit" class="btn btn-default contact-us-btn"><b>SUBMIT</b></button>
                        </div>

                        <a class="twitter-timeline" data-height="500" data-theme="dark" data-link-color="#63ce6a"
                           data-chrome="noheader nofooter noscrollbar noborders"
                           href="https://twitter.com/GAeSportsCenter?ref_src=twsrc%5Etfw">Tweets by GAeSportsCenter</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <br>
                        <br>
                        <a href="https://discord.gg/2sGT8gm"><img src="{% static 'ga/images/discord.png' %}"></a>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="container bot20">

        <div class="row">
            <div class="col-xs-12">
                <div class="panel-title">LATEST <b>NEWS</b></div>
            </div>
        </div>

        <div class="row bot20">
            {% for news in newslist %}
                <div class="col-xs-12 col-sm-4 bot10">
                    <div class="panel-default">
                        <div class="panel-body">
                            <img src="

                                    {% if news.image == "" %}{% static 'ga/images/news.jpg' %}{% else %}{{ news.image.url }}{% endif %}"><br>
                            <h4><a href="{% url 'news:post_detail' slug=news.slug %}">{{ news.title }}</a></h4>
                            <p>{{ news.body|truncatewords:30 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if newslist.count == 0 %}
                <h2>No news posts!</h2>
            {% endif %}


        </div>

        <div class="row bot20">

            {% if featured is not null %}
            <div class="col-xs-12">
                <div class="panel-title">UPCOMING <b>EVENT</b></div>
            </div>
            {% endif %}

            {% if featured is not null %}
            <div class="col-xs-12">
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-6 col-md-8">
                            {% if featured.image %}
                                <img src="{{ featured.image.url }}">
                            {% else %}
                                <img src="{% static 'ga/images/news.jpg' %}">
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <h1><b>{{ featured.name }}</b></h1>
                            <p>{{ featured.info }}</p>
                            <br>
                            <p>Starts: {{ featured.starts }}</p>
                            <br>
                            <p>Size: {{ featured.teams.size }}/{{ featured.size }}</p>
                            <a href="{% url 'singletournaments:detail' pk=featured.id %}" class="btn btn-lg btn-default"> DETAILS </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
