{% extends "roc/base.html" %}
{% load static %}

  {% block head %}
  <title>Edit Team - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}


    <div class="container page">

           <div class="panel">
              <div class="panel-body">

                   <div class="col-xs-12 banner-head bot20">
                   <div class="row bot10">
                   <div class="col-xs-12 col-sm-6 center">
                   <br><br>
                    <h2><b>{{ team.name }}</b></h2>
                    <br><br>
                    Founded by {{ team.founder }} on {{ team.created }}<br>
                    <br><br>
                   </div>
                   <div class="col-xs-12 col-sm-6 center">
                    <img src="{% static 'images/avatar.jpg' %}"/>
                   </div>

                   </div>
                 <div class="row">
                  <div class="col-xs-6 bot10">
                      <div class="btn btn-success btn-xs btn-block white"><a style="color: white;" href="{% url 'teams:edit' pk=team.id %}">EDIT TEAM</a> | <a style="color: white;" href="{% url 'teams:invite' %}">INVITE PLAYERS</a></div>
                  </div>
                  <div class="col-xs-6">
                    <a class="btn btn-danger btn-xs btn-block white" href="#">DISBAND TEAM</a>
                  </div>
                 </div>
                  </div>

                 <form method="post">
    {% csrf_token %}

    {{ field.errors }}

    <label>About Us</label>
    <div class="form-group">{{ form.about_us }}</div>

    <label>Website</label>
    <div class="form-group">{{form.website}}</div>

    <label>Twitter</label>
    <div class="form-group">{{form.twitter}}</div>

    <label>Twitch Username</label>
    <div class="form-group">{{form.twitch}}</div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>

                  <div class="panel-title"><a href="{% url 'teams:invite' %}">Invite Players</a></div>

                  <div class="panel-title"><a href="{% url 'teams:remove' pk=team.id %}">Remove Players</a></div>


                  <div class="panel-title"><a href="{% url 'teams:dissolve' pk=team.id %}">Dissolve Team</a></div>
              </div>
           </div>
    </div>




{% endblock %}
