{% extends 'ot/base.html' %}

  {% block head %}
  <title>Edit profile - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
    <div class="container">
    <div class="space90"></div>
    <div class="col-xs-12">

         <h2 class="center">Edit Profile</h2>


  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {{ field.errors }}


   <!-- <div class="form-group">
      <label for="AboutMe">Profile Picture</label>
      <input type="file" class="form-control-file" id="profile-picture" aria-describedby="profile-picture">
    </div>
      <div class="form-group">
        <label for="AboutMe">About Me</label>
        <input type="text" class="form-control" id="about-me" aria-describedby="aboutMe" placeholder="{{userprofile.about_me}}">
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      <!--</div>
      <div class="form-group">
        <label for="xbl">Xbox Live</label>
        <input type="text" class="form-control" id="xbl" aria-describedby="xbl" placeholder="{{userprofile.xbl}}">
      </div>
      <div class="form-group">
        <label for="psn">PSN</label>
        <input type="text" class="form-control" id="psn" aria-describedby="psn" placeholder="{{userprofile.psn}}">
      </div>
      <div class="form-group">
        <label for="twitter">Twitter Username</label>
        <input type="text" class="form-control" id="twitter" aria-describedby="twitter" placeholder="{{userprofile.twitter}}">
      </div>
      <div class="form-group">
        <label for="twitch">Twitch Username</label>
        <input type="text" class="form-control" id="twitch_channel" aria-describedby="twitch" placeholder="{{userprofile.twitch}}">
      </div>
      <div class="form-group">
        <label for="favorite_game">Favorite Game</label>
        <input type="text" class="form-control" id="favorite_game" aria-describedby="favorite_game" placeholder="{{userprofile.favorite_game}}">
      </div>
      <div class="form-group">
        <label for="favorite_console">Favorite Console</label>
        <input type="text" class="form-control" id="favorite_console" aria-describedby="favorite_console" placeholder="{{userprofile.favorite_console}}">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    -->


  <!--  <label>Profile Picture</label>
    <div>{{ form.profile_picture }}</div>--->

    <label>About Me</label>
    <div class="form-group">{{ form.about_me }}</div>

    <label>Xbox Live</label>
    <div class="form-group">{{ form.xbl }}</div>

    <label>PSN</label>
    <div class="form-group">{{ form.psn }}</div>

    <label>Steam Name</label>
    <div class="form-group">{{ form.steam }}</div>

    <label>Epic Games Username</label>
    <div class="form-group">{{ form.epic }}</div>

    <label>Battle.Net BattleTag</label>
    <div class="form-group">{{ form.battlenet }}</div>

    <label>Twitter Username</label>
    <div class="form-group">{{ form.twitter_profile }}</div>

    <label>Twitch Username</label>
    <div class="form-group">{{ form.twitch_channel }}</div>

    <label>Preferred Game</label>
    <div class="form-group">{{ form.favorite_game }}</div>

    <label>Preferred Console</label>
    <div class="form-group">{{ form.favorite_console }}</div>

    <label>Country</label>
    <div class="form-group">{{ form.country }}</div>


      <label>Profile Picture</label>
    <div class="form-group">{{ form.profile_picture}}</div>


    <button type="submit" class="btn btn-primary">Update</button>
  </form>
      </div>

    </div>

{% endblock %}
