{% extends 'ot/base.html' %}

  {% block head %}
  <title>Login - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}


<div class="container page1">
<div class="space90"></div>

     <div class="col-xs-12">
      <div class="row">
       <div class="col-xs-12 col-sm-6 bot20">
         <div class="panel-title">LOGIN TO <span>YOUR ACCOUNT</span></div>
         <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
<form method="post">
  {% csrf_token %}
  <label>Username</label>
  {{ form.username }}
    <br />
  <label>Password</label>
  {{ form.password }}
{% include 'profiles/ot/captcha.html' %}
  <label><input name="remember me" type="checkbox">Keep me logged in</label> <br />
  <button class="btn btn-md btn-success" type="submit">LOGIN</button> <a href="{% url 'reset_password' %}" class="btn btn-primary">Forgot password?</a>
</form>
            </div>
           </div>
         </div>
       </div>
      </div>
     </div>
</div>




{% endblock %}
