{% extends 'ot/base.html' %}
{% load staticfiles %}
  {% block head %}
  <title>{{ userprofile.user }} - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}





<section class="prof-top page1">
<div class="container-fluid min-page">

<div class="col-xs-12 bot20">
                   <div class="row">
                   <div class="col-xs-12 col-sm-3">
                    {% if userprofile.profile_picture.url != "" %}
                        <img src="{{ userprofile.profile_picture.url }}" align="center" width="200"> <br />
                        {% else %}
                        <img src="{% static 'ot/images/avatar.jpg' %}" align="center" width="200"/> <br />
                        {% endif %}
                   </div>
                   <div class="col-xs-12 col-sm-4">
                    <h2><b>{{ userprofile.user }}</b></h2>

About Me:<br>
{{ userprofile.about_me }}<br>
<br>
PSN: <a href="#">{{ userprofile.psn }}
                   {% if userprofile.psn_verified %}
                       <i class="fa fa-check-circle" style="color:green"></i>
                       {% else %}
                       <i class="fa fa-times-circle" style="color:red"></i>
                       {% endif %}
                   </a><br>
XBL: <a href="#">{{ userprofile.xbl }}
                   {% if userprofile.xbl_verified %}
                        <i class="fa fa-check-circle" style="color:green"></i>
                       {% else %}
                       <i class="fa fa-times-circle" style="color:red"></i>
                       {% endif %}
                   </a><br>
<br>
Twitter: <a href="{% if userprofile.twitter_profile == "No Twitter Linked" or userprofile.twitter_profile == "" %}
        #
    {% else %}
    https://twitter.com/{{ userprofile.twitter_profile }}
        {% endif %}">@{{ userprofile.twitter_profile }}</a><br>
Twitch: <a href="{% if userprofile.twitch_channel == "No Twitch Linked" or userprofile.twitch_channel == "" %}
        #
    {% else %}
    https://twitch.tv/{{ userprofile.twitch_channel }}
        {% endif %}">{{ userprofile.twitch_channel }}</a><br>
<br>

                   </div>

                   <!--<div class="col-xs-12 col-sm-5 center">
                    <div class="row">
                     <div class="col-xs-12 center">
                     <img src=""/><br>
                     <h5>Twitch Duel Challenges Won</h5>
                     <h1><b>tbd</b></h1>
                     <br>
                     </div>
                    </div>
                   </div>-->
                   </div>
                        <br>
{% if requestuser == userprofile.user %}
<a style="margin:12px;" href="{% url 'profiles:edit_profile' %}"> <i class="fas fa-pencil-alt"></i>  Edit Profile</a><br />
<a style="margin:12px;" href="{% url 'store:transfer' %}"><i class="fa fa-arrow-right"></i> Transfer Credits</a><br />
<a style="margin:12px;" href="{% url 'store:store' %}"><i class="fa fa-coins"></i> {{ userprofile.credits }} Credits in your account</a><br />
{% endif %}
                  </div>


                <div class="row gutter-10 bot20">

                     <!--<div class="col-xs-12 col-sm-6">
                     <div class="panel-title bold">Latest Tournament Matches</div>

     				 </div>

                        <div class="col-xs-12 col-sm-6">
                     <div class="panel-title bold">Latest Twitch Duels</div>

     				 </div>--->

                    </div>

                 </div>

</section>
    





{% endblock %}
