{% extends 'ot/base.html' %}

  {% block head %}
  <title>Register - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}


       <div class="col-xs-12 col-sm-6 bot20">
         <div class="panel-title">REGISTER <span>A NEW ACCOUNT</span></div>
         <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">

  <form class="form-horizonal" role="form" action="" method="post">
    {% csrf_token %}
    {% include 'profiles/ot/form_template.html' %}
    {% include 'profiles/ot/captcha.html' %}
    <button type="submit" class="btn btn-md btn-success">Submit</button>
  </form>
            </div>
           </div>
         </div>
       </div>





{% endblock %}
