{% extends 'ot/base.html' %}
{% load staticfiles %}
  {% block head %}
  <title>Store - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}

<div class="container min-width page1">
 <div class="space90"></div>
 {% for product in products %}
 <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="panel panel-default">
  <div class="panel-title center">{{ product.price }}</div>
   <div class="panel-body center">
       <h1><b>{{ product.name }}</b> <small>Credits</small></h1>
       <a class="btn btn-transparent btn-block btn-sm" href="{% url 'store:detail' pk=product.id %}"> PURCHASE </a>
   </div>
  </div>
 </div>
{% endfor %}

</div>


{% endblock %}