{% extends 'staff/staffbase.html' %}
{% load static %}

{% block title %}
    Division #{{ division.id }}
{% endblock %}

{% block body %}


    <p><a href="{% url 'staff:list_league' %}"><i class="fa fa-arrow-left"></i> <strong>Back to Tournament
        list</strong></a></p>
    <table class="table">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tr>
            <td>ID</td>
            <td>{{ division.id }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ division.name }}</td>
        </tr>
        <tr>
            <td>Apart of League</td>
            <td><a href="{% url 'staff:detail_league' pk=league.id %}">{{ league.name }} (League ID:{{ league.id }})</a></td>
        </tr>

    </table>

    <h1>Matches</h1>
    <table class="table-hover">
    <thead>
    <th>Match ID</th>
    <th>Away Team</th>
    <th>Home Team</th>
    </thead>
    {% for match in division.matches %}
    {% endfor %}
    </table>
    <h1>Teams</h1>
    <
{% endblock %}
