{% extends 'staff/staffbase.html' %}
{% load static %}

{% block title %}
    League #{{ league.id }} Teams
{% endblock %}

{% block body %}
<p><a href="{% url 'staff:detail_league' pk=league.id %}"></a></p>
    <button class="btn btn-primary"><a style="color:white; text-decoration: none;" href="{% url 'staff:edit_league' pk=league.id %}">Add Teams to League</a></button>
    <br />
    {% for team in league.teams.all %}
        <a href="{% url 'staff:team_detail' pk=team.team.pk %}">{{ team.team.name }}</a>
        <br />
    {% endfor %}
{% endblock %}