{% extends 'staff/staffbase.html' %}

{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">
{% block title %}
    League Settings {{ settings.pk }}
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{% static "css/staff.css" %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <h1><a href="{% url 'staff:list_league_settings' %}">Return to league settings list</a></h1>
    <br>
    <a href="{% url 'staff:tournamentrulesetcreate' %}"><i class="fa fa-plus"></i> Create a new ruleset</a>
    <br>


    <label><strong>Name</strong></label>
    {{ settings.name }}
    <br>

    <label><strong>Track OT Losses</strong></label>
    {{ settings.ot_losses }}
    <br>

    <label><strong>OT Loss Point Value(amount of points awarded for an OT Loss) - Set to 0 if OT Losses aren't
        tracked</strong></label>
    {{ settings.pts_ot_loss }}
    <br>

    <label><strong>Track OT Wins</strong></label>
    {{ settings.ot_wins }}
    <br>

    <label><strong>OT Win Point Value(If OT Wins are not tracked they will be treated as a regulation
        win)</strong></label>
    {{ settings.pts_ot_win }}
    <br>

    <label><strong>Regulation Win Point Value</strong></label>
    {{ settings.pts_win }}
    <br>

    <label><strong>Regulation Loss Point Value</strong></label>
    {{ settings.pts_loss }}
    <br>

    <label><strong>Allow Tie</strong></label>
    {{ settings.allow_tie }}
    <br>

    <label><strong>Number of games each team plays during the regular season</strong></label>
    {{ settings.num_games }}
    <br>

    <label><strong>Enable autoscheduler (WIP)</strong></label>
    {{ settings.auto_schedule }}
    <br>


    <label><strong>Enable auto matchups - generate matches without setting a date/time for the match
        (WIP)</strong></label>
    {{ settings.auto_matchup }}
    <br>

    <!--<label>Team Record Format</label>
     form.record_format }}
    <br>-->

    <label><strong>Number of Divisions</strong></label>
    {{ settings.num_divisions }}
    <br>

    <label><strong>Max Division Size</strong></label>
    {{ settings.max_division_size }}
    <br>


    <a class="btn btn-primary" href="{% url 'staff:edit_league_settings' pk=settings.pk %}">EDIT</a>



{% endblock %}