{% extends "eot/base.html" %}

  {% block head %}
  <title>Store - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 wrap">

           <div class="panel">
              <div class="panel-body">
<h1>Store</h1>


    <a style="margin:12px;" href="/store/product/1"> <i class="fas fa-money-bill-alt"></i>  15 Credits</a><br />
    <a style="margin:12px;" href="/store/product/2"> <i class="fas fa-money-bill-alt"></i>  25 Credits</a><br />
    <a style="margin:12px;" href="/store/product/3"> <i class="fas fa-money-bill-alt"></i>  50 Credits</a><br />
              </div>
           </div>
        </div>
{% endblock %}