{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Leaderboard - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}

    <form method="POST" action="">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Sort"/>
    </form>

    <table class="table table-hover">
        <tr id="header">
            <thead>
            <th>Username</th>
            <th>XP</th>
            <th>Trophies</th>
            </thead>
        </tr>
        {% for user in user_list %}
            <tbody>
            <tr scope="">
                <td>{{ user }}</td>
                <td>{{ user.xp }}</td>
                <td>{{ user.num_trophies }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>


{% endblock %}