{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>{{ team.name }} - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}

    {% if not user.is_anonymous %}
        <p><a href="{% url 'teams:list' %}"><i class="fas fa-arrow-left"></i> <strong>Back to team list</strong></a></p>
    {% else %}
        <a href="{% url 'index' %}"><i class="fas fa-arrow-left"></i> <strong>Back to home</strong></a></a>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tr>
            <td>Team Image</td>
            <td>{% if team.image != "" %}
                <img src="{{ MEDIA_URL }}{{ team.image }}" align="center" width="200"> <br/>
            {% else %}
                {% if team.country != "" %}
                <img src="{{ team.country.flag }}" align="center" /> <br/>
                {% else %}
                <h2>No image yet</h2>
                {% endif %}
            {% endif %}</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{ team.id }}</td>
        </tr>
        <tr>
            <td class="team-name">Name</td>
            <td>{{ team.name }}</td>
        </tr>
        <tr>
            <td class="">Founder</td>
            <td><a href="{% url 'profiles:profile' urlusername=team.founder %}">{{ team.founder }}</a></td>
        </tr>
        <tr>
            <td class="">Captains</td>
            {% for captain in captains %}
                <td><a href="{% url 'profiles:profile' urlusername=captain.user %}">{{ captain.name }}</a></td>
            {% endfor %}
        </tr>
        <tr>
            <td>Created</td>
            <td>{{ team.created }}</td>
        </tr>
        <tr>
            <td>Twitter</td>
            <td><a href="
    {% if team.twitter == "No Twitter Linked" or team.twitter == "" %}
        #
    {% else %}
    https://twitter.com/{{ team.twitter }}
        {% endif %}">

                {{ team.twitter }}</a></td>
        </tr>
        <tr>
            <td>Twitch</td>
            <td>
                <a href="
    {% if team.twitch == "No Twitch Linked" or team.twitch == "" %}
        #
    {% else %}
    https://twitch.tv/{{ team.twitch }}
        {% endif %}">

                    {{ team.twitch }}</a></td>
        </tr>
        <tr>
            <td>Players</td>
            {% for profile in players %}

                <tr>
                    <td valign="middle"><img src="{{ profile.country.flag }}"> <a
                            href="{% url 'profiles:profile' urlusername=profile.user %}">{{ profile.user }}</a></td>

                </tr>
            {% endfor %}
        {% if players.count == 0 %}
            <tr>
                <td>
                    There are no players on the team yet
                </td>
            </tr>
        {% endif %}
    </table>

    <a href="{% url 'teams:leave' pk=pk %}">Leave team</a><br>

    {% if team.founder == request.user %}
        <a href="{% url 'teams:remove' pk %}">Remove users</a><br>
        <a href="{% url 'teams:edit' pk %}">Edit Team</a><br>
        <a href="{% url 'teams:invite' %}">Invite Players</a><br>
        {% if team.founder not in team.captain.all %}
        <a href="{% url 'teams:founder_captain' pk %}">Add Founder as Captain</a>
        {% endif %}
    {% endif %}


{% endblock %}
