p {
    color: white;

}
tr td {
    color:white;
}
.yo {
    color:white;
}
.messages {
    list-style:none;
    padding: 20px;
    background-color: green; /* Red */
    color: white;
    margin-bottom: 15px;
}
h2 .new-ticket {
    text-decoration: none;
    text-align:center;
    color:green;
}