{% extends 'duel/base.html' %}
{% load staticfiles %}
  {% block head %}
  <title>Store - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}

    <div class="container page">

   <div class="panel">
      <div class="panel-body">

       <div class="col-xs-6 col-sm-3 bot10">
        <div class="panel-default">
         <div class="panel-body center">
          <img src="{% static 'images/coin.png' %}"><br>
          <h5><b>1 Credit</b></h5>
          <br><br>
          <a class="btn btn-primary btn-xs btn-block center" href="/store/product/1"> $1.00 ORDER NOW </a>
         </div>
         </div>
       </div>

       <div class="col-xs-6 col-sm-3 bot10">
        <div class="panel-default">
         <div class="panel-body center">
          <img src="{% static 'images/coin.png' %}"><br>
          <h5><b>5 Credits</b></h5>
          <br><br>
          <a class="btn btn-primary btn-xs btn-block center" href="/store/product/2"> $4.00 ORDER NOW </a>
         </div>
         </div>
       </div>
       <div class="col-xs-6 col-sm-3 bot10">
        <div class="panel-default">
         <div class="panel-body center">
          <img src="{% static 'images/coin.png' %}"><br>
          <h5><b>10 Credits</b></h5>
          <br><br>
          <a class="btn btn-primary btn-xs btn-block center" href="/store/product/3"> $8.00 ORDER NOW </a>
         </div>
         </div>
       </div>
          <div class="col-xs-6 col-sm-3 bot10">
        <div class="panel-default">
         <div class="panel-body center">
          <img src="{% static 'images/coin.png' %}"><br>
          <h5><b>25 Credits</b></h5>
          <br><br>
          <a class="btn btn-primary btn-xs btn-block center" href="/store/product/4"> $19.00 ORDER NOW </a>
         </div>
         </div>
       </div>
          <div class="col-xs-6 col-sm-3 bot10">
        <div class="panel-default">
         <div class="panel-body center">
          <img src="{% static 'images/coin.png' %}"><br>
          <h5><b>55 Credits</b></h5>
          <br><br>
          <a class="btn btn-primary btn-xs btn-block center" href="/store/product/5"> $38.00 ORDER NOW </a>
         </div>
         </div>
       </div>


      </div>
      </div>
     </div>




{% endblock %}