{% extends "roc/base.html" %}
{% load static %}
{% block head %}
    <title>Create a Ticket - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}
    <div class="container page">

        <div class="panel">
            <div class="panel-body">

                <form method="POST" action="{% url 'support:create' %}">
                    <table class="table">
                        {% csrf_token %}
                        {{ form.as_table }}
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Create" class="btn btn-success contact-us-btn"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}