{% extends "staff/staffbase.html" %}
{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">
{% block title %}
    Edit Q&A Category
{% endblock %}
{% block body %}
    <form method="post">
        {% csrf_token %}

        {{ field.errors }}

        <label>Name</label>
        <div class="form-group">{{ form.name }}</div>


        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'staff:qa_cat_delete' pk=pk %}" onclick="return confirm('Are you sure you want to delete this category?')" class="btn btn-danger">Delete</a>

    </form>
{% endblock %}