{% extends 'staff/staffbase.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">

{% block title %}
    Q&A Categories
{% endblock %}
{% block body %}
    <div style="overflow-x:auto;">
        <h2><a href="{% url 'staff:qa_cat_create' %}"><i class="fa fa-plus"></i>Create new FAQ Category </a></h2>

        <table class="table table-hover">
            <tr id="header">
                <thead>
                <th>Name</th>
                </thead>
            </tr>
            {% for cat in cats %}
                <tbody>
                <tr scope="">
                    <td>
                        <a href="{% url 'staff:qa_cat_detail' pk=cat.pk %}">{{ cat.name }}</a>
                    </td>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}