{% extends 'staff/staffbase.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">

{% block title %}
    Q&A
{% endblock %}
{% block body %}
    <div style="overflow-x:auto;">
        <h2><a href="{% url 'staff:qa_create' %}"><i class="fa fa-plus"></i>Create new FAQ entry </a></h2>

        <table class="table table-hover">
            <tr id="header">
                <thead>
                <th>Category</th>
                <th>Question</th>
                <th>Answer</th>
                </thead>
            </tr>
            {% for qa in qas %}
                <tbody>
                <tr scope="">
                    <td>
                        {{ qa.category }}
                    </td>
                    <td>
                        <a href="{% url 'staff:qa_detail' pk=qa.pk %}">{{ qa.question|truncatechars:30 }}</a>
                    </td>
                    <td>
                        {{ qa.answer|truncatechars:30 }}
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}