{% extends 'cashout/base.html' %}
{% load staticfiles %}

  {% block head %}
  <title>{{ team.name }} - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}



    <div class="container page">
<div class="col-xs-12">
           <div class="panel">
              <div class="panel-body">
                  <div class="panel-title">Remove a person from {{ team.name }}</div>

<form method="post">
    {% csrf_token %}

    {{ field.errors }}

   {{ form.as_table }}



    <p><button type="submit" class="btn btn-primary">Submit</button></p>
  </form>

              </div>
           </div>
</div>
    </div>
{% endblock %}