{% extends 'binge/base.html' %}

  {% block head %}
  <title>Edit Team - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
    <div class="container page">

<div class="col-xs-12">
           <div class="panel">
              <div class="panel-body">
  <form method="post">
    {% csrf_token %}

    {{ field.errors }}

    <label>About Us</label>
    <div class="form-group">{{ form.about_us }}</div>

    <label>Website</label>
    <div class="form-group">{{form.website}}</div>

    <label>Twitter</label>
    <div class="form-group">{{form.twitter}}</div>

    <label>Twitch Username</label>
    <div class="form-group">{{form.twitch}}</div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
              </div>
           </div>
</div>
    </div>

{% endblock %}
