<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

  <meta name="description" content="">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap337.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
  <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap337.min.js' %}"></script>
</head>
<body>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:9999999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login to your Account</h4>
      </div>
      <div class="modal-body">
      <div class="form-group">
                  <label class="control-label" for="inputDefault">Username</label>
                  <input type="text" class="form-control" id="inputDefault">
                  <label class="control-label" for="inputDefault">Password</label>
                  <input type="text" class="form-control" id="inputDefault">
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info">Login</button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:9999999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create An Account</h4>
      </div>
      <div class="modal-body">
      <div class="form-group">
                  <label class="control-label" for="inputDefault">Username</label>
                  <input type="text" class="form-control" id="inputDefault">
                  <label class="control-label" for="inputDefault">Email</label>
                  <input type="text" class="form-control" id="inputDefault">
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info">Register</button>
      </div>

    </div>
  </div>
</div>



 <nav class="navbar navbar-default" role="navigation">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}"/></a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/">HOME</a></li>
      <li><a href="{% url  'news:post_list' %}">NEWS</a></li>
      <li><a href="{% url 'singletournaments:list' %}">TOURNAMENTS</a></li>
      <!--<li><a href="league.php">LEAGUE</a></li> -->
      <li><a href="{% url 'about' %}">ABOUT US</a></li>
      <li><a href="{% url 'store:store' %}">SHOP</a></li>
    {% if user.is_anonymous %}

    {% endif %}
    {% if not user.is_anonymous %}
      <li><a href="{% url 'teams:list' %}">TEAMS</a></li>
      <li><a href="{% url 'support:create' %}">CONTACT</a></li>
    {% endif %}
      <!--<li><a href="forum.php">FORUM</a></li>-->

      <!-- Login and Register when not logged in -->
    <!-- data-toggle="modal" data-target="#myModal2"--->
        {% if user.is_anonymous %}
      <li><a href="{% url 'register' %}">REGISTER</a></li>
      <li><a href="{% url 'login' %}">LOGIN</a></li>
      {% endif %}
    {% if not user.is_anonymous %}
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span style="color:#00adff;">{{ username }}</span> <i class="fa fa-user"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'profiles:profile' urlusername=request.user %}">My Profile</a></li>
            <li><a href="{% url 'profiles:edit_profile' %}">Edit Profile</a></li>
            <li><a href="{% url 'teams:list' %}">My Teams</a></li>
            <li><a href="{% url 'teams:myinvitelist' %}">Invites</a></li>
            <li><a href="{% url 'support:list' %}">Ticket Center</a></li>
            <!--<li><a href="#">My Bank</a></li>-->
              <li><a href="{% url 'matches:list' %}">My Matches</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          </ul>
        </li>
        {% endif %}
    </ul>
  </div>
  </div>
</nav>

