{% extends "ot/base.html" %}
{% load staticfiles %}

  {% block head %}
  <title>Match details - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
    <div class="container">
<div class="space90"></div>
        <div class="col-xs-12">
 <div class="row">
  <div class="panel">
  <div class="panel-body">

    <a href="{% url 'matches:report' pk=match.id %}"><h2>Submit your match report here.</h2></a>

  <div class="col-xs-12 banner-head bot20">
                   <div class="row">
                   <div class="col-xs-12 col-sm-4">
                    <img src="{% if match.game == 0 %}
        {% static 'ot/images/logo.png' %}
        {% elif match.game == 1 %}
        {% static 'images/bo3.jpg' %}
        {% elif match.game == 2 %}
        {% static 'images/ww2.jpg' %}
        {% elif match.game == 3 %}
        {% static 'images/fortnitecover.jpg' %}
        {% elif match.game == 4 %}
        {% static 'images/destiny2cover.jpg' %}
        {% elif match.game == 5 %}
        {% static 'images/csgocover.jpg' %}
        {% elif match.game == 6 %}
        {% static 'images/pubgcover.jpg' %}
        {% elif match.game == 7 %}
        {% static 'images/rs6cover.jpg' %}
        {% elif match.game == 8 %}
        {% static 'images/overwatchcover.jpg' %}
        {% elif match.game == 9 %}
        {% static 'images/lolcover.jpg' %}
        {% elif match.game == 10 %}
        {% static 'images/hearthstonecover.jpg' %}
        {% elif match.game == 11 %}
        {% static 'images/wowcover.jpg' %}
        {% elif match.game == 12 %}
        {% static 'images/smitecover.jpg' %}
        {% elif match.game == 13 %}
        {% static 'images/rocketleaguecover.jpeg' %}
        {% elif match.game == 14 %}
        {% static 'images/bf1cover.jpg' %}
        {% else %}
        {% static 'ot/images/logo.png' %}
{% endif %}"/>
                   </div>
                   <div class="col-xs-12 col-sm-8">
                   <br>
                    <!--<h2><b>COMPETITION NAME HERE</b></h2>-->
                    <h3 style="font-weight:200;">Playstation 4</h3>
                    <h3 style="font-weight:200;">{% if match.game == 0 %}
        No Game Set
        {% elif match.game == 1 %}
        Call of Duty: Black Ops 3
        {% elif match.game == 2 %}
        Call of Duty WWII
        {% elif match.game == 3 %}
        Fortnite
        {% elif match.game == 4 %}
        Destiny 2
        {% elif match.game == 5 %}
        Counter-Strike: Global Offensive
        {% elif match.game == 6 %}
        Player Unknown's BATTLEGROUNDS
        {% elif match.game == 7 %}
        Rainbow Six Siege
        {% elif match.game == 8 %}
        Overwatch
        {% elif match.game == 9 %}
        League of Legends
        {% elif match.game == 10 %}
        Hearthstone
        {% elif match.game == 11 %}
        World of Warcraft
        {% elif match.game == 12 %}
        SMITE
        {% elif match.game == 13 %}
        Rocket League
        {% elif match.game == 14 %}
        Battlefield 1
        {% elif match.game == 15 %}
        Black Ops 4
        {% endif %}</h3><br />
                    <h3 style="font-weight:200;">{% if match.teamformat == 0 %}
            1v1
            {% elif match.teamformat == 1 %}
            2v2
            {% elif match.teamformat == 2 %}
            3v3
            {% elif match.teamformat == 3 %}
            4v4
            {% elif match.teamformat == 4 %}
            5v5
            {% elif match.teamformat == 5 %}
            6v6
            {% endif %}</h3>
                    <br>
                   </div>

                   </div>
                  </div>

  <div class="col-xs-12 align-self-center bot20">

  <div class="col-xs-4 center">
  <img src="{% static 'ot/images/avatar.jpg' %}"/><br>
  <a href="{% url 'teams:detail' pk=match.awayteam.id %}">{{ match.awayteam }} - {% if match.team2reported %}
            <i class="fa fa-check" style="color:green"></i> Reported{% else %}<i class="fa fa-times" style="color:red"></i> No report submitted{% endif %}</a>
  </div>

  <div class="col-xs-4 center">
   <h1 style="font-size:60px;font-weight:800;margin-top:40px;">{% if match.winner_id == match.awayteam_id %}<span style="color:green;">1{% else %}<span style="color:black;">0{% endif %}</span> vs {% if match.winner_id == match.hometeam_id %}<span style="color:green;">1{% else %}<span style="color:black;">0{% endif %}</span></h1>
  </div>

  <div class="col-xs-4 center">
  <img src="{% static 'ot/images/avatar.jpg' %}"/><br>
  <a href="{% url 'teams:detail' pk=match.hometeam.id %}">{{ match.hometeam }}  - {% if match.team1reported %}
            <i class="fa fa-check" style="color:green"></i> Reported{% else %}<i class="fa fa-times" style="color:red"></i> No report submitted{% endif %}</a>
  </div>

 </div>

        <div class="row bot20">
           <div class="col-md-6">
            <table class="table table-hover">
         <thead>
         
      <tr>
        <th>USERNAME</th>
        <th></th>
        <th>Profile</th>
      </tr>
         
    </thead>
    <tbody>
	{% for aplayer in aplayers %}
      <tr>
        <td valign="middle"><img src="{% static 'ot/images/avatar.jpg' %}" width="30" height="30"> <b>{{ aplayer.user }}</b></td>
        <td valign="middle"></td>
          <td valign="middle"><span class="highlight"><b><a href="{% url 'profiles:profile' urlusername=aplayer.user %}">Here</a></b></span></td>
      </tr>
	  {% endfor %}
    </tbody>
  </table>

  </div>

       <div class="col-md-6">
            <table class="table table-hover">
         <thead>
         
      <tr>
        <th>USERNAME</th>
        <th></th>
        <th>Profile</th>
      </tr>
         
    </thead>
    <tbody>
	{% for hplayer in hplayers %}
      <tr>
          <td valign="middle"><img src="{% static 'ot/images/avatar.jpg' %}" width="30" height="30"> <b>{{ hplayer.user }}</b></td>
          <td valign="middle"></td>
          <td valign="middle"><span class="highlight"><b><a href="{% url 'profiles:profile' urlusername=hplayer.user %}">Here</a></b></span></td>
      </tr>
	  {% endfor %}
    </tbody>
  </table>

 </div>

				</div>

            </div>
</div>
</div>
</div>

</div>


{% endblock %}