{% extends "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/ticket.css" %}">
<link rel="stylesheet" href="{% static "css/fontawesome-all.min.css" %}">

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% block body %}
<p><a href="/support/"><i class="fas fa-arrow-left"></i> <strong>Back to ticket list</strong></a></p>
<table class="table">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tr>
        <td>Ticket ID</td>
        <td>{{ticket.id}}</td>
    </tr>
    <tr>
        <td class="ticket-category">Category</td>
        <td>
{% if ticket.category == '0' %}
General
{% elif ticket.category == '1' %}
Prize Claim
{% elif ticket.category == '2' %}
Tournament Support
{% elif ticket.category == '3' %}
Billing
{% elif ticket.category == '4' %}
Refund Request
{% elif ticket.category == '5' %}
PSN/XBL Issues
{% elif ticket.category == '6' %}
Match Support/Dispute
{% endif %}
    </td>
    </tr>
    <tr>
        <td class="">Description</td>
        <td>{{ticket.text}}</td>
    </tr>
    <tr>
        <td>Assignee</td>
        <td>{{ticket.assignee}}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{ticket.status}}</td>
    </tr>
</table>
{% endblock %}
