{% extends "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/ticket.css" %}">

{% block body %}
<table class="table">
    <tr id="header">
        <thead>
        <th>ID</th>
        <th>Subject</th>
        <th>Date</th>
        </thead>
    </tr>
    {% for ticket in ticket_list %}
    <tbody>
    <tr>
        <td>#{{ticket.id}}</td>
        <td>{{ticket.subject}}</td>
        <td>{{ticket.last_update}}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}