{% extends "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/ticket.css" %}">

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% block body %}
<table class="table">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tr>
        <td>ID</td>
        <td>{{ticket.id}}</td>
    </tr>
    <tr>
        <td class="ticket-subject">Subject</td>
        <td>{{ticket.subject}}</td>
    </tr>
    <tr>
        <td class="">Description</td>
        <td>{{ticket.description}}</td>
    </tr>
    <tr>
        <td>Assignee</td>
        <td>{{ticket.assignee}}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{ticket.status}}</td>
    </tr>
</table>
{% endblock %}