{% extends "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/ticket.css" %}">

{% block body %}
<table>
    <tr id="header">
        <!-- No clue if the following will work. stupid fucking 
            translation documentation -->
        <th>ID</th>
        <th>Subject</th>
        <th>Date</th>
    </tr>
    {% for ticket in ticket_list %}
    <tr id="listing">
        <td>#{{ticket.id}}</td>
        <td>{{ticket.subject}}</td>
        <td>{{ticket.last_update}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}