{% extends "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/ticket.css" %}">

{% block body %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form method="POST" action="{% url 'teams:create' %}">
    <table class="table">
        {% csrf_token %}
        {{form.as_table}}
        <tr>
            <td colspan="2">
                <input type="submit" value="Create" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}
