{% extends "base.html" %}
{% load staticfiles %}

  {% block head %}
  <title>{{ team.name }} - {{ SITE_NAME }}</title>
  {% endblock %}
  
{% block body %}

<link rel="stylesheet" href="{% static "css/teams.css" %}">
<link rel="stylesheet" href="{% static "css/fontawesome-all.min.css" %}">

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<p><a href="{% url 'teams:list' %}" style="text-decoration:none"><i class="fas fa-arrow-left"></i> <strong>Back to team list</strong></a></p>
<table class="table">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tr>
        <td>ID</td>
        <td>{{team.id}}</td>
    </tr>
    <tr>
        <td class="team-name">Name</td>
        <td>{{team.name}}</td>
    </tr>
    <tr>
        <td class="">Founder</td>
        <td>{{team.founder}}</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{team.created}}</td>
    </tr>
    <tr>
        <td>Players</td>

        <td>{% for player in players %}
        {{ player.user }},
        {% endfor %}</td>
    </tr>
</table>

{% endblock %}
