{% load staticfiles %}
<section class="footer">

  <div class="container">
   <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
     <img src="{% static 'roc/images/logo.png' %}"/>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2">
     <a href="#">HOME</a><br>
     <a href="#">NEWS</a><br>
     <a href="#">TOURNAMENTS</a><br>
     <a href="#">LEAGUES</a><br>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2">
     <a href="#">TEAMS</a><br>
     <a href="#">LEADERBOARD</a><br>
     <a href="#">CONTACT</a><br>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2">
     <a href="#">DISPUTE MATCH</a><br>
     <a href="#">TERMS OF SERVICE</a><br>
     <a href="#">PRIVACY POLICY</a><br>
    </div>
   </div>
   </div>

</section>

<section class="copy-info">
 <div class="container">
  <div class="col-xs-12 col-sm-8">
  Copyright 2018 (c) ROC Esports League | All Rights Reserved | Powered by <a style="font-size:11px" href="https://olly.nfmstudios.com">Project Olly</a> Version: {{ SITE_VERSION }} On Server: {{ SITE_SERVER }}
  </div>
  <div class="col-xs-12 col-sm-4" style="text-align:right;">
  <a href="#"> <i class="fa fa-twitter"></i> </a> &nbsp; <a href="#"> <i class="fa fa-facebook"></i> </a> &nbsp; <a href="#"> <i class="fa fa-twitch"></i> </a> &nbsp; <a href="#"> <i class="fa fa-youtube"></i> </a> &nbsp;
  </div>
 </div>
</section>

  </body>
</html>