{% extends "wlg/base.html" %}
{% load static %}

{% block head %}
    <title>Tournaments - {{ SITE_NAME }}</title>
{% endblock %}

<link rel="stylesheet" href="{% static "css/singletournament.css" %}">

{% block body %}



    <div class="container page">

        <form method="POST" action="">
            <table class="table">
                {% csrf_token %}
                {{ form }}

                <tr>
                    <td colspan="2">
                        <input class="btn btn-md btn-success" type="submit" value="Filter"/>
                    </td>
                </tr>
            </table>
        </form>


        <div id="new-team">
            <h2 id="" style="text-decoration: none; margin:8px">
                <a style="text-decoration:none; color:white;" href="{% url 'teams:create' %}">
                    <i class="fa fa-plus"></i> Create a new team
                </a>
            </h2>
        </div>
        <div class="col-xs-12">


            <div class="row">
                <div class="col-xs-12">
                    <div class="panel">
                        <div class="panel-body">


                            {% if tournament_list.count == 0 %}
                                <b>No tournaments yet!</b>
                            {% endif %}
                            {% for tournament in tournament_list %}
                                <div class="col-xs-12 col-sm-6 col-md-4 league">
                                    <img src="
                                            {% if tournament.game.image != "" %}{{ tournament.game.image.url }}{% else %}{% static 'wlg/images/logo.png' %}{% endif %}"><br>
                                    <h6><b>{{ tournament.name }}</b></h6>
                                    <br/>
                                    <ul>
                                        <li><b>Platform:</b> {{ tournament.platform.name }}</li>
                                        <li><b>Starts:</b> {{ tournament.start }}</li>
                                        <li><b>Teams: </b> {{ tournament.teams.count }}/{{ tournament.size }}</li>
                                        <li><b>Game:</b> {{ tournament.game.name }}</li>

                                    </ul>
                                    <ul>

                                        <li><b>Registration Opens:</b> {{ tournament.open_register }}</li>
                                        <li><b>Registration Closes</b> {{ tournament.close_register }}</li>
                                        <li><b>Registration Fee: </b>{{ tournament.req_credits }}</li>
                                    </ul>
                                    <a class="btn btn-primary btn-block btn-xs jleague"
                                       href="{% url 'singletournaments:detail' pk=tournament.id %}">JOIN TOURNAMENT</a>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>













{% endblock %}