{% extends 'staff/staffbase.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">

{% block title %}
    News Article
{% endblock %}
{% block body %}

    <h1>Title: {{ article.title }}</h1>
    <h2>Author: {{ article.author }}</h2>
    <h2>Created: {{ article.created }}</h2>
    <h2>Status: {{ article.status }}</h2>


    <p>{{ article.body | linebreaks }}</p>

    <a href="{% url 'staff:edit_article' pk=article.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'staff:delete_article' %}" onclick="return confirm('Are you sure you want to delete this article?')" class="btn btn-danger">DELETE</a>

{% endblock %}