{% extends 'staff/staffbase.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">

{% block title %}
    Wagers List
{% endblock %}

{% block body %}
    <div style="overflow-x:auto;">
        <h1>Wager Requests</h1>
        <p> (Showing only non expired, and non accepted Wager Requests)</p>
        <table class="table table-hover">
            <tr id="header">
                <thead>
                <th scope="row">ID</th>
                <th>Platform</th>
                <th>Game</th>
                <th>Team</th>
                <th>Expired</th>
                <th>Size</th>
                <th>Best of</th>

                </thead>
            </tr>
            {% for request in wagers %}
                <tbody>
                <tr scope="">
                    <td scope="row"><a href="{% url 'staff:wager_detail' pk=request.id %}">#{{ request.id }}</a></td>

                    <td>
                        <a href="{% url 'staff:platform_detail' pk=request.platform.id %}">{{ request.platform.name }}</a>
                    </td>

                    <td><a href="{% url 'staff:game_detail' pk=request.game.id %}">{{ request.game.name }}</a></td>

                    <td><a href="{% url 'staff:team_detail' pk=request.team.id %}">{{ request.team.name }}</a></td>

                    {% if match.expired %}
                        <td>Yes</td>
                    {% elif not match.expired %}
                        <td>No</td>
                    {% endif %}

                    <td>{{ request.get_min_team_size }}</td>

                    <td>{{ request.get_best_of }}</td>


                    <td><a href="{% url 'staff:delete_wager' pk=request.id %}" onclick="return confirm('Are you sure you want to delete this wager?')" class="btn btn-primary">Delete Wager Request</a></td>

                </tr>
                </tbody>
            {% endfor %}
        </table>

    </div>
{% endblock %}
<a href="{% url 'staff:delete_team' pk=tournament.id %}" onclick="return confirm('Are you sure you want to delete this team?')" class="btn btn-danger">Delete Team</a>