{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'duel/favicon.ico' %}" type="image/x-icon">
  {% block head %}
  <title>PageName - {{ SITE_NAME }}</title>
  {% endblock %}
  <meta name="description" content="">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">


  <link rel="stylesheet" href="{% static 'duel/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'duel/css/style.css' %}">

  <script src="{% static 'duel/js/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'duel/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'duel/js/nfm.js' %}"></script>

</head>
<body>

<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:9999999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login to your Account</h4>
      </div>
      <div class="modal-body">
      <div class="form-group">
                  <label class="control-label" for="inputDefault">Username</label>
                  <input type="text" class="form-control" id="inputDefault">
                  <label class="control-label" for="inputDefault">Password</label>
                  <input type="text" class="form-control" id="inputDefault">
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-success" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-lg btn-success">Login</button>
      </div>

    </div>
  </div>
</div>--->

<!--
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:9999999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create An Account</h4>
      </div>
      <div class="modal-body">
      <div class="form-group">
                  <label class="control-label" for="inputDefault">Username</label>
                  <input type="text" class="form-control" id="inputDefault">
                  <label class="control-label" for="inputDefault">Email</label>
                  <input type="text" class="form-control" id="inputDefault">
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-success" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-lg btn-success">Register</button>
      </div>

    </div>
  </div>
</div>-->

<!-------------------------->

<!-- login modal   data-toggle="modal" data-target="#myModal" -->
<!-- register modal  data-toggle="modal" data-target="#myModal2" --->

 <nav class="navbar navbar-default" role="navigation">
   <div class="container" style="position:relative;">{% if user.is_anonymous %}
   <div class="col-xs-12" style="float:right;text-align:right;margin-bottom:12px;"> <a class="btn btn-default" href="{% url 'login' %}">LOGIN</a> <a class="btn btn-default" href="{% url 'register' %}">SIGN UP</a> </div>
  {% endif %}
       <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{% static 'duel/images/logo.png' %}"/></a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/">HOME</a></li>
      <li><a href="{% url 'singletournaments:list' %}">TOURNAMENTS</a></li>
      <li><a href="{% url 'profiles:leaderboard' %}">LEADERBOARD</a></li>
      <li><a href="#">TWITCH DUEL CHALLENGE</a></li>
      <li><a href="{% url 'store:store' %}">DUEL DOLLARS SHOP</a></li>
        {% if not user.is_anonymous %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <i class="fa fa-user"></i> <span style="color:#e0ab45;">{{ user.username }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'profiles:profile' urlusername=user.username %}">My Profile</a></li>
            <li><a href="{% url 'profiles:edit_profile' %}">Edit Profile</a></li>
            <li><a href="{% url 'support:list' %}">Support Tickets</a></li>
              <li><a href="{% url 'teams:myinvitelist' %}">My Invites</a></li>
              <li><a href="{% url 'matches:list' %}">My Matches</a></li>
            <li><a href="{% url 'teams:list' %}">My Teams</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          </ul>
        </li>
        {% endif %}
    </ul>
  </div>

  </div>
</nav>

<br>
<br>
<br>


