{% extends "duel/base.html" %}

  {% block head %}
  <title>Privacy Policy - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}

    <div class="container page">

<div class="col-xs-12">
           <div class="panel">
              <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
    					<div class="panel-title bold">Privacy Policy</div>
                           <div class="col-xs-12">

                             <p>NFM Studios Privacy Policy
                             <br>
                             Created: July 1st 2018
                             Updated: August 2nd 2018
                             <br>
                             <br>
                                     <h2>Changes to this policy</h2>
                                     <br>
                             NFM Studios reserves the right to make changes to this Privacy Policy at any time. Please review it frequently to ensure you are aware of any changes. If a change is made, we will provide notice to you in our Privacy Policy as posted, on our Twitter account.
                             <br>
                             <br>
                                     <h2>What we collect and how we use it</h2>
                                     <br>
                                     <h3>Data we collect includes:</h3>
                             <br>
                                     <li>Username*</li>
                             This is used to identify you to other users on the site, it is publicly viewable
                                     <li>Password hash*</li>
                             This is used to secure your account and allow you to login. Your password is stored in a non-reversible hashed form, we do not have access to your actual password. (see here to learn more: https://www.wired.com/2016/06/hacker-lexicon-password-hashing/)
                                     <li>IP address*</li>
                             This is used to identify the network you are connecting from. This is used to ban troublesome users and prevent them from creating new accounts to evade bans.
                                     <li>Email address*</li>
                             This is used to send you activation and password reset links, as well as send you useful information related to the operation of the site.
                                     <li>Twitter handle</li>
                             This is optional and is only used to show on your public profile
                                     <li>XBOX Live Gamertag</li>
                             This is optional, and is used to verify that you are eligible for XBOX tournaments, and is also shown on your public profile, without providing this information you will not be eligible to play in XBOX tournaments
                                     <li>Playstation Network Username</li>
                             This is optional, and is used to verify that you are eligible for PlayStation tournaments, and is also shown on your public profile, without providing this information you will not be eligible to play in PlayStation tournaments
                                     <li>Twitch Username</li>
                             This is optional and is only used to show on your public profile
                             <br>
                             <br>
                                     Lines marked with an asterisk (*) are required, and always collected. Lines not marked with an asterisk are not required and are only collected if you choose to fill out those fields on the site.
                             <br>
                                     <br>
                             <h2>What we provide to site owners</h2>
                             <br>
                             <h3>Site owners have access to the following data, in addition to anything visible on your public profile</h3>
                             <br>
                                     <li>Email address</li>
                                     <li>IP Address</li>
                             <br>
                                     <br>

                             <h2>Right to access</h2>
                             <br>
                             Users have a right to obtain a copy of any and all data that has been collected from them. You may request a copy of this data by emailing nfm.studios@gmail.com and using the subject: “[sitename] data request: [username]” replacing [sitename] with the name of the site you are requesting for, and [username] with your username on that site.
                             Requests for data will be processed within 30 days
                             <br>
                             <br>
                                     <h2>Right to be forgotten/revocation of consent</h2>
                                     <br>
                             Users have a right to request that any data that has been collected from them be permanently deleted. You may request this by emailing nfm.studios@gmail.com and using the subject: “[sitename] deletion request: [username]” replacing [sitename] with the name of the site you are requesting for, and [username] with your username on that site.
                             Requests for deletion will be responded to within 30 days
                             <br>
                             <br>
                                     <h2>In the event of a breach</h2>
                                     <br>
                             In the unlikely event of a data breach we will notify all affected users via our Twitter page (@NFM_Studios), and via email. This will be done no later than 72 hours after the time of discovering the breach

                           </div>
                    </div>
                </div>
              </div>
           </div>
</div>
    </div>
{% endblock %}
