{% extends 'staff/staffbase.html' %}
{% load static %}
{% block body %}

    <!-- Icon Cards-->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100" style="max-height:250px">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-users"></i>
                    </div>
                    <div class="mr-5">{{ tournaments.count }} Total Tournaments!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'staff:tournamentlist' %}">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100" style="max-height:250px">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-shield"></i>
                    </div>
                    <div class="mr-5">{{ teams.count }} Total Teams!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'staff:teamindex' %}">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100" style="max-height:250px">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-newspaper-o"></i>
                    </div>
                    <div class="mr-5">{{ news.count }} News Posts!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'staff:news_index' %}">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100" style="max-height:250px">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-support"></i>
                    </div>
                    <div class="mr-5">{{ numtickets }} Open Support Tickets!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'staff:tickets' %}">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>

        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100" style="max-height:250px">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-users"></i>
                    </div>
                    <div class="mr-5">View Store Products!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'staff:store' %}">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100" style="max-height:250px">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-users"></i>
                    </div>
                    <div class="mr-5"> {{ numusers }} Total Users!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'staff:users' %}">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100" style="max-height:250px">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-exclamation-circle"></i>
                    </div>
                    <div class="mr-5"> {{ numdisputes }} Disputes!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'staff:disputed_matches' %}">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
    </div>
    <p>Welcome to the Staff Panel for your website! Our goal whilst developing this was to empower the admin/staff team
        by giving you a wide array of tools to use in any sort of scenario. Stay tuned to our Discord for updates, and
        if
        you have any questions please feel free to message Steven or Mike on Discord.</p>



    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>


{% endblock %}