{% extends "base.html" %}
{% load staticfiles %}

  {% block head %}
  <title>{{ tournament.name }} Details - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static "css/singletournament.css" %}">

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}


<p><a href="{% url 'singletournaments:detail' pk=pk %}"><i class="fas fa-arrow-left"></i> <strong>Back to tournament detail</strong></a></p>

{{ ruleset.text }}

{% endblock %}