{% extends "base.html" %}
{% load staticfiles %}

  {% block head %}
  <title>{{ tournament.name }} Bracket - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
    <script type="text/javascript">
    var myteams = [];
    var r1matches = [];
    </script>
    {% for team in teams %}
        {% if tournament.size > teams %}
            <!-- there are byes -->
        {% endif %}
        <script>myteams.push("{{ team }}");</script>
    {% endfor %}
    {% for round1 in round1matches %}
        <script>r1matches.push("{{ round1 }}");</script>
    {% endfor %}

    <!-- to do - get the specific match1 and match2 out of round1matches -->

    <script type="text/javascript">console.log("myteams");</script>
    <script type="text/javascript" src="{% static 'js/jquery-1.6.2.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bracket.min.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery.bracket.min.js' %}"></script>
<script>
console.log(myteams);
var singleElimination = {
  "teams": [              // Matchups
    [myteams[0], myteams[1]], // First match
    [myteams[2], myteams[3]],  // Second match
    [myteams[4], myteams[5]],
    [myteams[6], myteams[7]],
  ],
  "results": [            // List of brackets (single elimination, so only one bracket)
    [                     // List of rounds in bracket
      [                   // First round in this bracket
        [],           // Team 1 vs Team 2
        [],           // Team 3 vs Team 4
        [],
        [],
      ],
      [                   // Second (final) round in single elimination bracket
        [],           // Match for first place
                    // Match for 3rd place
      ]
    ]
  ]
}

$(function() {
    $('#demo').bracket({
        skipConsolationRound: true,
      init: singleElimination /* data to initialize the bracket with */ })
  })
</script>

    <h2>Bracket for {{ tournament.name }}</h2>

    <div id="demo"></div>

    <p><script type="text/javascript">//document.write("myteams");</script></p>
{% endblock %}