{% extends "base.html" %}
{% load staticfiles %}

  {% block head %}
  <title>{{ tournament.name }} Bracket - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
    {% if tournament.size > teams %}
            <!-- there are byes -->
        <script>var haveByes = true;</script>
    {% endif %}

    {% if tournament.size == teams %}
        <script>var haveByes = false;</script>
    {% endif %}
    <script type="text/javascript">
    var myteams = [];
    var myteamids = [];
    var r1matches = [];
    var matchbyes = [];
    var matchesdone = [];
    </script>

    <script>

    var winners = {{ winners|safe }};
    var completed = {{ completed|safe }};
    var doing = {{ doing|safe }};
    var allMatches = {{ matches|safe }};
    </script>


    {% for match in round1matches %}

        <!-- check to make sure there is no away team, if there isnt -->
        {% if match.awayteam is null and match.hometeam is not null %}
            <!-- there is no team, this is a buy. add this to an array -->
            <script>
                // let the array know to keep track of this bye
                matchbyes.push("{{ match }}");
                // we know there is a bye so push it to the team array
                // to do sort out the order of myteams
                myteams.push("BYE");
                // let the array know that this match is done
                matchesdone.push("{{ match.id }}");
            </script>
        {% endif %}

        {% if match.awayteam is not null and match.hometeam is not null %}
            <!-- its a legit match -->
            <script>
                myteams.push("{{ match.awayteam }}");
                myteamids.push("{{ match.awayteam.id }}");
                // add the home team to the array
                myteams.push("{{ match.hometeam }}");
                myteamids.push("{{ match.hometeam.id }}");
            </script>
        {% endif %}

        {% if match.completed or match.disputed is null or match.winner is not null %}
            <!-- figure out how to assign this to a js variable -->
            <script>
            matchesdone.push("{{ match.id }}")
            </script>
        {% endif %}

    {% endfor %}




<script>

var matchOutput = [];
var output1 = 0;
var output2 = 0;
</script>

<script>
for(var x=0; x<=allMatches.length(); x++) {
    // push all 0's to start for each and every match
matchOutput[x]= (0, 0)
}
</script>


<script>
for(var x=0; x<=allMatches.length(); x++) {
    if (completed.indexOf(allMatches[x]) > 0) {
        // see who the winner is
        if (winners.indexOf(myteamids[x]) > 0) {
            output1 = 1;
            output2 = 0;
            matchOutput[x] = (1, 0);
            
        }
        else if (winners.indexOf(myteamids[x+1]) > 0) {

            matchOutput[x] = (0, 1);

        }
    }
    else {
        output1 = 0;
        output2 = 0;
    }
}
</script>


    <!-- to do - get the specific match1 and match2 out of round1matches -->

    <script type="text/javascript">console.log("myteams");</script>
    <script type="text/javascript" src="{% static 'js/jquery-1.6.2.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bracket.min.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery.bracket.min.js' %}"></script>
<script>

var singleElimination = {
  "teams": [              
    [myteams[0], myteams[1]], 
    [myteams[2], myteams[3]],  
    [myteams[4], myteams[5]],
    [myteams[6], myteams[7]]
  ],
  "results": [
    [
      [
        [matchesOutput[0],
        [],
        [],
        []
      ],
      [
        [],
        []
      ],
        [
            []
        ]
    ]
  ]
};

$(function() {
    $('#demo').bracket({
        skipConsolationRound: true,
      init: singleElimination /* data to initialize the bracket with */ })
  })
</script>

    <h2>Bracket for {{ tournament.name }}</h2>

    <div id="demo"></div>

    <p><script type="text/javascript">//document.write("myteams");</script></p>
{% endblock %}