{% extends "base.html" %}
{% load staticfiles %}

  {% block head %}
  <title>{{ tournament.name }} Bracket - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
    {% if tournament.size > teams %}
            <!-- there are byes -->
        <script>var haveByes = true;</script>
    {% endif %}

    {% if tournament.size == teams %}
        <script>var haveByes = false;</script>
    {% endif %}
    <script type="text/javascript">
    var myteams = [];
    var myteamids = [];
    var r1matches = [];
    var matchbyes = [];
    var matchesdone = [];
    </script>

    <script>
    // round 1
    // 0 means home
    // 1 means away
    var match1score = null;
    var match2score = null;
    var match3score = null;
    var match4score = null;
    </script>

    <script>
    // round 2
    // 0 means home
    // 1 means away
    var match10score = null;
    var match11score = null;
    </script>

    <script>
    // round 3
    // 0 means home
    // 1 means away
    var match20score = null;

    var winners = {{ winners|safe }};
    var completed = {{ completed|safe }};
    var doing = {{ doing|safe }};
    var allMatches = {{ matches|safe }};
    </script>


    {% for match in round1matches %}

        <!-- check to make sure there is no away team, if there isnt -->
        {% if match.awayteam is null and match.hometeam is not null %}
            <!-- there is no team, this is a buy. add this to an array -->
            <script>
                // let the array know to keep track of this bye
                matchbyes.push("{{ match }}");
                // we know there is a bye so push it to the team array
                // to do sort out the order of myteams
                myteams.push("BYE");
                // let the array know that this match is done
                matchesdone.push("{{ match.id }}");
            </script>
        {% endif %}

        {% if match.awayteam is not null and match.hometeam is not null %}
            <!-- its a legit match -->
            <script>
                myteams.push("{{ match.awayteam }}");
                // add the home team to the array
                myteams.push("{{ match.hometeam }}");
            </script>
        {% endif %}

        {% if match.completed or match.disputed is null or match.winner is not null %}
            <!-- figure out how to assign this to a js variable -->
            <script>
            matchesdone.push("{{ match.id }}")
            </script>
        {% endif %}

    {% endfor %}




    <!-- to do - get the specific match1 and match2 out of round1matches -->

    <script type="text/javascript">console.log("myteams");</script>
    <script type="text/javascript" src="{% static 'js/jquery-1.6.2.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bracket.min.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery.bracket.min.js' %}"></script>
<script>
console.log(myteams);
var singleElimination = {
  "teams": [              // Matchups
    [myteams[0], myteams[1]], // First match
    [myteams[2], myteams[3]],  // Second match
    [myteams[4], myteams[5]],
    [myteams[6], myteams[7]],
  ],
  "results": [            // List of brackets (single elimination, so only one bracket)
    [                     // List of rounds in bracket
      [                   // First round in this bracket
        [],           // Team 1 vs Team 2
        [],           // Team 3 vs Team 4
        [],
        []
      ],
      [                   // Second (final) round in single elimination bracket
        [], // Match for first place
        []
      ],
        [
            []
        ]
    ]
  ]
}

$(function() {
    $('#demo').bracket({
        skipConsolationRound: true,
      init: singleElimination /* data to initialize the bracket with */ })
  })
</script>

    <h2>Bracket for {{ tournament.name }}</h2>

    <div id="demo"></div>

    <p><script type="text/javascript">//document.write("myteams");</script></p>
{% endblock %}