{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

    <script type="text/javascript" src="{% static 'js/jquery-1.6.2.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bracket.min.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery.bracket.min.js' %}"></script>
<script>

var minimalData = {
    teams : [
      ["Team 1", "Team 2"], /* first matchup */
      ["Team 3", "Team 4"]  /* second matchup */
    ],
    results : [
      [[1,2], [3,4]],       /* first round */
      [[4,6], [2,1]]        /* second round */
    ]
  }

$(function() {
    $('#demo').bracket({
      init: minimalData /* data to initialize the bracket with */ })
  })
</script>

    <div id="demo"></div>

{% endblock %}