{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

    <script type="text/javascript" src="{% static 'js/jquery-1.6.2.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bracket.min.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery.bracket.min.js' %}"></script>
<script>

var singleElimination = {
  "teams": [              // Matchups
    ["Team 1", "Team 2"], // First match
    ["Team 3", "Team 4"]  // Second match
  ],
  "results": [            // List of brackets (single elimination, so only one bracket)
    [                     // List of rounds in bracket
      [                   // First round in this bracket
        [1, 2],           // Team 1 vs Team 2
        [3, 4]            // Team 3 vs Team 4
      ],
      [                   // Second (final) round in single elimination bracket
        [5, 6],           // Match for first place
                    // Match for 3rd place
      ]
    ]
  ]
}

$(function() {
    $('#demo').bracket({
      init: singleElimination /* data to initialize the bracket with */ })
  })
</script>

    <div id="demo"></div>

{% endblock %}