{% extends 'staff/staffbase.html' %}
{% load static %}

{% block title %}
    Static Page - CREATE
{% endblock %}

{% block body %}
    <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
        <label>Slug</label>
        {{ form.slug }}
        <br />

        <label>Page Name</label>
        {{ form.page_name }}
        <br />

        <label>Redirect to external page?</label>
        {{ form.redirects }}
        <br />

        <label>URL for redirect</label>
        {{ form.url }}
        <br />

        <label>Content</label>
        {{ form.content }}
       <br />

        <button type="submit" class="btn btn-primary">Create</button>

    </form>

{% endblock %}

