{% extends 'staff/staffbase.html' %}
{% load static %}

{% block title %}
    Olly Settings - Edit
{% endblock %}

{% block body %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <label>Disable Team Invites</label>
        {{ form.freeze_team_invites }}
        <br/>
        <label>Disable Team Creation</label>
        {{ form.disable_team_creation }}
        <br/>
        <label>Freeze Players Leaving Teams</label>
        {{ form.freeze_team_leaves }}
        <br/>

        <label>Freeze Team Deletion</label>
        {{ form.freeze_team_deletion }}
        <br/>

        <label>Freeze Team Player Removal</label>
        {{ form.freeze_team_player_removal }}
        <br/>

        <label>Latest Updates</label>
        <br/>
        {{ form.whats_new }}
        <br/>
        <button type="submit" class="btn btn-primary">Update</button>

    </form>

{% endblock %}