{% extends 'staff/staffbase.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">

{% block title %}
    Static Info
{% endblock %}

{% block body %}
    <p>{{ staticinfo.about_us }}</p>

    <form method="POST" enctype="multipart/form-data" action="{% url 'staff:pages' %}">
        <table class="table">
            {% csrf_token %}
            <table class="table">
                <tbody>
                    <tr>
                        <th>About Us:</th>
                        <td>{{ static.about_us }}</td>
                    </tr>
                    <tr>
                        <th>Terms:</th>
                        <td>{{ static.terms }}</td>
                    </tr>
                    <tr>
                        <th>Stream:</th>
                        <td>{{ social.stream }}</td>
                    </tr>

                    <tr>
                        <th>Twitter(The full URL):</th>
                        <td>{{ social.twitterprofile }}</td>
                    </tr>
                    <tr>
                        <th>Twitch(The full URL):</th>
                        <td>{{ social.twitchchannel }}</td>
                    </tr>

                    <tr>
                        <th>Youtube(The full URL):</th>
                        <td>{{ social.youtubechannel }}</td>
                    </tr>

                    <tr>
                        <th>Instagram(The full URL):</th>
                        <td>{{ social.instagrampage }}</td>
                    </tr>

                    <tr>
                        <th>Facebook(The full URL):</th>
                        <td>{{ social.facebookpage }}</td>
                    </tr>

                    <tr>
                        <th>Slide 1 header:</th>
                        <td>{{ static.slide1header }}</td>
                    </tr>
                    <tr>
                        <th>Slide 1 sub header:</th>
                        <td>{{ static.slide1subhead }}</td>
                    </tr>
                    <tr>
                        <th>Slide 1 link:</th>
                        <td>{{ static.slide1link }}</td>
                    </tr>
                    <tr>
                        <th>Slide 1 image:</th>
                        <td>{{ static.slide1_img }}</td>
                    </tr>

                    <tr>
                        <th>Slide 2 header:</th>
                        <td>{{ static.slide2header }}</td>
                    </tr>
                    <tr>
                        <th>Slide 2 sub header:</th>
                        <td>{{ static.slide2subhead }}</td>
                    </tr>
                    <tr>
                        <th>Slide 2 link:</th>
                        <td>{{ static.slide2link }}</td>
                    </tr>
                    <tr>
                        <th>Slide 2 image:</th>
                        <td>{{ static.slide2_img }}</td>
                    </tr>

                    <tr>
                        <th>Slide 3 header:</th>
                        <td>{{ static.slide3header }}</td>
                    </tr>
                    <tr>
                        <th>Slide 3 sub header:</th>
                        <td>{{ static.slide3subhead }}</td>
                    </tr>
                    <tr>
                        <th>Slide 3 link:</th>
                        <td>{{ static.slide3link }}</td>
                    </tr>
                    <tr>
                        <th>Slide 3 image:</th>
                        <td>{{ static.slide3_img }}</td>
                    </tr>

                    <tr>
                        <th>Block 1 text:</th>
                        <td>{{ static.block1text }}</td>
                    </tr>

                    <tr>
                        <th>Block 1 link:</th>
                        <td>{{ static.block1link }}</td>
                    </tr>
                    <tr>
                        <th>Block 1 image:</th>
                        <td>{{ static.block1_img }}</td>
                    </tr>

                    <tr>
                        <th>Block 2 text:</th>
                        <td>{{ static.block2text }}</td>
                    </tr>

                    <tr>
                        <th>Block 2 link:</th>
                        <td>{{ static.block2link }}</td>
                    </tr>
                    <tr>
                        <th>Block 2 image:</th>
                        <td>{{ static.block2_img }}</td>
                    </tr>

                    <tr>
                        <th>Block 3 text:</th>
                        <td>{{ static.block3text }}</td>
                    </tr>

                    <tr>
                        <th>Block 3 link:</th>
                        <td>{{ static.block3link }}</td>
                    </tr>
                    <tr>
                        <th>Block 3 image:</th>
                        <td>{{ static.block3_img }}</td>
                    </tr>
                </tbody>
            </table>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-success" value="Submit"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}