{% extends "roc/base.html" %}

{% block head %}
    <title>Invalid - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}
    <div class="container page">

        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-title">Activation link invalid</div>

                            <p>We're sorry, that activation link appears to be invalid. Please try again</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
