{% extends "roc/base.html" %}
{% block body %}

    {% block head %}
        <title>Banned - {{ SITE_NAME }}</title>
    {% endblock %}
    <div class="container page">

        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-title">Banned</div>
                            <p>You have been banned</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}