{% extends 'wlg/base.html' %}
{% load static %}




  {% block head %}
  <title>Login - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
<div class="container wrap">

 <div class="panel">
    <div class="panel-body">

	<div class="panel-title">Login</div>

<br />
<form method="post" action="/login/">
  {% csrf_token %}
  <label>Username</label>
  {{ form.username }}
    <br />
  <label>Password</label>
  {{ form.password }}
{% include 'profiles/wlg/captcha.html' %}
  <label><input name="remember me" type="checkbox">Keep me logged in</label> <br />
  <button class="btn btn-success" type="submit">Login</button> <a href="/reset-password" class="btn btn-primary">Forgot password?</a>
</form>
    </div>
 </div>
</div>

{% endblock %}
