{% extends "wlg/base.html" %}

{% block head %}
    <title>{{ userprofile.user }} - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}

    {% load static %}

    <br/>


    <div class="container wrap">

        <div class="panel">
            <div class="panel-body">
                <div class="col-xs-12 banner-head bot20">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <h2><b>{{ userprofile.user }}</b></h2>

                            About Me:<br>
                            {{ userprofile.about_me }}<br>
                            <br>
                            PSN: <a href="#">{{ userprofile.psn }}
                            {% if userprofile.psn_verified %}
                                <i class="fa fa-check-circle" style="color:green"></i>
                            {% else %}
                                <i class="fa fa-times-circle" style="color:red"></i>
                            {% endif %}
                        </a><br>
                            XBL: <a href="#">{{ userprofile.xbl }}
                            {% if userprofile.xbl_verified %}
                                <i class="fa fa-check-circle" style="color:green"></i>
                            {% else %}
                                <i class="fa fa-times-circle" style="color:red"></i>
                            {% endif %}
                        </a><br>
                            <br>
                            Twitter: <a
                                href="{% if userprofile.twitter_profile == "No Twitter Linked" or userprofile.twitter_profile == "" %}
        #
    {% else %}
    https://twitter.com/{{ userprofile.twitter_profile }}
        {% endif %}">@{{ userprofile.twitter_profile }}</a><br>
                            Twitch: <a
                                href="{% if userprofile.twitch_channel == "No Twitch Linked" or userprofile.twitch_channel == "" %}
        #
    {% else %}
    https://twitch.tv/{{ userprofile.twitch_channel }}
        {% endif %}">{{ userprofile.twitch_channel }}</a><br>
                            <br>

                        </div>

                        <div class="col-xs-12 col-sm-3">
                            {% if userprofile.profile_picture.url != "" %}
                                <img src="{{ userprofile.profile_picture.url }}" align="center" width="200"> <br/>
                            {% else %}
                                <img src="{{ MEDIA_URL }}default_profile.png" align="center" width="200"/> <br/>
                            {% endif %}
                        </div>

                        <div class="col-xs-12 col-sm-5 center">
                            <div class="row">
                                <div class="col-xs-12 center">
                                    <h2>TROPHIES</h2><br>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 center">
                                    <img src="{% static 'images/gold.png' %}"/><br>
                                    <h1><b>{{ userprofile.num_gold }}</b></h1>
                                </div>
                                <div class="col-xs-4 center">
                                    <img src="{% static 'images/silver.png' %}"/><br>
                                    <h1><b>{{ userprofile.num_silver }}</b></h1>
                                </div>
                                <div class="col-xs-4 center">
                                    <img src="{% static 'images/bronze.png' %}"/><br>
                                    <h1><b>{{ userprofile.num_bronze }}</b></h1>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="row gutter-10 bot20">


                    <!--                     <div class="col-xs-12 col-sm-4">
                                         <div class="panel-title bold">Tournament Teams</div>
                                           <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="middle"><img src="images/avatar.jpg"></td>
                                                                <td valign="middle">56th</td>
                                                                <td valign="middle">Teamname</td>
                                                                <td valign="middle" align="right">VIEW</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="middle"><img src="images/avatar.jpg"></td>
                                                                <td valign="middle">56th</td>
                                                                <td valign="middle">Teamname</td>
                                                                <td valign="middle" align="right">VIEW</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="middle"><img src="images/avatar.jpg"></td>
                                                                <td valign="middle">56th</td>
                                                                <td valign="middle">Teamname</td>
                                                                <td valign="middle" align="right">VIEW</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                          </div>
                    --><!---
                        <div class="col-xs-12 col-sm-4">
                     <div class="panel-title bold">Ladder Teams</div>
                       <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td valign="middle"><img src="images/avatar.jpg"></td>
                                            <td valign="middle">56th</td>
                                            <td valign="middle">Teamname</td>
                                            <td valign="middle" align="right">VIEW</td>
                                        </tr>
                                        <tr>
                                            <td valign="middle"><img src="images/avatar.jpg"></td>
                                            <td valign="middle">56th</td>
                                            <td valign="middle">Teamname</td>
                                            <td valign="middle" align="right">VIEW</td>
                                        </tr>
                                        <tr>
                                            <td valign="middle"><img src="images/avatar.jpg"></td>
                                            <td valign="middle">56th</td>
                                            <td valign="middle">Teamname</td>
                                            <td valign="middle" align="right">VIEW</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
     				 </div>-->
                    <!--
                          <div class="col-xs-12 col-sm-4">
                            <div class="panel-title bold">Match History</div>
                                        <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td valign="middle"><img src="images/avatar.jpg"></td>
                                                <td valign="middle">vs Teamname</td>
                                                <td valign="middle" style="font-weight:bold;color:green;">3-1</td>
                                                <td valign="middle" align="right">1v1 Winter Event</td>
                                            </tr>
                                            <tr>
                                                <td valign="middle"><img src="images/avatar.jpg"></td>
                                                <td valign="middle">vs Teamname</td>
                                                <td valign="middle" style="font-weight:bold;color:green;">3-1</td>
                                                <td valign="middle" align="right">1v1 Winter Event</td>
                                            </tr>
                                            <tr>
                                                <td valign="middle"><img src="images/avatar.jpg"></td>
                                                <td valign="middle">vs Teamname</td>
                                                <td valign="middle" style="font-weight:bold;color:green;">3-1</td>
                                                <td valign="middle" align="right">1v1 Winter Event</td>
                                            </tr>
                                            <tr>
                                                <td valign="middle"><img src="images/avatar.jpg"></td>
                                                <td valign="middle">vs Teamname</td>
                                                <td valign="middle" style="font-weight:bold;color:green;">3-1</td>
                                                <td valign="middle" align="right">1v1 Winter Event</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                           </div>-->

                </div>

                <div class="row gutter-10 bot20">

                    <!--<div class="col-xs-12 col-sm-6">
                    <div class="panel-title bold">Twitter Feed</div>
                      <a class="twitter-timeline" data-height="320" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/IVGFX?ref_src=twsrc%5Etfw">Tweets by IVGFX</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                     </div>--->

                    <!--<div class="col-xs-12 col-sm-6">
                    <div class="panel-title bold">Featured Video</div>
                     <iframe width="100%" height="320" src="https://www.youtube.com/embed/IRPqU8qAKJc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                     </div>-->

                    <div class="col-xs-12 col-sm-4">
                        {% if requestuser == userprofile.user %}
                            <a style="margin:12px;" href="{% url 'profiles:edit_profile' %}"> <i
                                    class="fa fa-pencil"></i> Edit Profile</a><br/>
                            <a style="margin:12px;" href="{% url 'store:transfer' %}"><i class="fa fa-arrow-right"></i>
                                Transfer Credits</a><br/>
                            <a style="margin:12px;" href="{% url 'store:store' %}"><i
                                    class="fa fa-credit-card"></i> {{ userprofile.credits }} credits in your account</a>
                            <br/>
                            <a style="margin:12px;" href="{% url 'support:create' %}"><i class="fa fa-money"></i>
                                ${{ userprofile.current_earning }} in your account right now</a><br/>
                            <a style="margin:12px;" href="#"><i class="fa fa-plus"></i> ${{ userprofile.total_earning }}
                                cashed out from your account</a><br/>
                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

    </div>




    <!-- email_verified total_earning -->


    <!-- this is not stock olly -->
    <!-- from here -->

    <!-- to here -->

{% endblock %}
