{% extends "eot/base.html" %}
{% load staticfiles %}

  {% block head %}
  <title>Create a Team - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 wrap">

           <div class="panel">
              <div class="panel-body">


<form method="POST" action="{% url 'teams:create' %}">
    <table class="table">
        {% csrf_token %}
        {{form.as_table}}
        <tr>
            <td colspan="2">
                <input type="submit" value="Create" class="btn btn-success"/>
            </td>
        </tr>
    </table>
</form>
              </div>
           </div>
    </div>
{% endblock %}
