{% extends "eot/base.html" %}
{% load static %}

{% block head %}
    <title>Send an Invite - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 wrap">

        <div class="panel">
            <div class="panel-body">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form method="POST" action="{% url 'teams:invite' %}">
                    <table class="table">
                        {% csrf_token %}
                        {{ form }}

                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Invite"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
