{%  extends 'eot/base.html' %}
{% load staticfiles %}

  {% block head %}
  <title>Leaderboard - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 wrap">

           <div class="panel">
              <div class="panel-body">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form }}
     <input type="submit" value="Sort" />
    </form>

<table class="table table-hover">
    <tr id="header">
        <thead>
        <th>Username</th>
        <th>XP</th>
        <th>Trophies</th>
        </thead>
    </tr>
    {% for user in user_list %}
    <tbody>
    <tr scope="">
        <td>{{user}}</td>
        <td>{{user.xp}}</td>
        <td>{{user.num_trophies }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>

              </div>
           </div>
    </div>
{% endblock %}