@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900');

html {
    position: relative;
    min-height: 100%;
}
body {
	overflow-x:hidden;
	background: #171c20;
	color: #fff;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	padding-top:140px;
}
.btn {
	font-size:14px !important;
	text-transform:uppercase !important;
	font-weight: 700 !important;
}
.btn .fa {
	font-size:16px;
}
.v1 {
	color:#4792c6;
	font-size:22px;
}
.tw {
	padding:4px;
	font-size:12px;
	background:#6441a4;
	border-color:#6441a4;
}
.top-player {
	background:#232b32;
	padding:10px;
	display:table;
	vertical-align:middle;
	color:#fff;
	margin-bottom:10px;
	width:100%;
}
.top-player img {
	display:inline-table;
	width:50px;
	height:50px;
	border-radius:50%;
	margin-right:20px;
	vertical-align:middle;
}
.top-player .name {
	display:inline-table;
	vertical-align:middle;
	width:70%;
}
.top-player .rank {
	display:inline-table;
	text-align:right;
}
.top-player .rank b {
	font-weight:900;
	font-size:26px;
}
.top-player .rank small {
	font-size:13px;
	font-weight:300;
}
.game1 {
	position:relative;
	width:100%;
	min-height:240px;
	overflow:hidden;
}
.game1 img {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	margin:0px auto;
	z-index:1;
}
.pagegame1 {
	min-height:280px;
}
.join-b {
	position:absolute;
	top:20px;
	right:0px;
	z-index:5;
}
.overlay1 {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	padding:10px;
	color:#fff;
	text-align:left;
	z-index:5;
	background:rgba(0,0,0,0.8);
}
.modal-content, .modal-header {
    background-color: #171c20;
}
hr {
    border: 0px;
    width: 100%;
    color: #2e3a43;
    background-color: #2e3a43;
    height: 1px;
    margin: 10px auto;
}
.topbar {
	background:#FFF;
	padding:20px 0px;
	margin:0 auto;
	text-align:center;
	border-top:1px solid #e7490a;
	border-bottom:1px solid #e7490a;
	-webkit-box-shadow: 0 1px 20px 0 rgba(0,0,0,0.6);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.6);
}
.topbar img {
	-webkit-filter: grayscale(1);
}
.topbar img:hover {
	-webkit-filter: grayscale(0);
	-webkit-filter: saturate(1.3);
}
.event {
	width:100%;
	height:240px;
	max-height:240px;
	padding:50px 10px 0px 30px;
	background-size:cover;
	background-position: center;
}
.event:hover {
	-webkit-filter: brightness(1) contrast(1.2) saturate(1.4) sepia(0.1);
}
.event h1 {
	font-size:40px;
	font-weight:900;
	color:#fff;
}
.event h2 {
	font-size:24px;
	font-weight:900;
	color:#fff;
}
.input-group-addon {
    color: #FFF;
    background-color: #151d23;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: rgba(0,0,0,0.3);
}
.competitions {
	padding:50px 0px;
}
.competitions td img {
	max-width:22px;
	height:auto;
}
.nopad {
	padding:0px !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #141a20;
    background-image: none;
    border: 1px solid #282d33;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
    padding:0px;
	margin:2px 0px 2px 0px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: normal;
}
h5 img, h4 img, h6 img {
	max-width: 34px;
	margin-right:4px;
}
img {
	max-width:100%;
	height:auto;
}
.clr {
	clear:both;
}
.bot10 {
	margin-bottom:10px;
}
.bot20 {
	margin-bottom:20px;
}
.minh1 {
	min-height:256px;
}

.main-title {
	font-size: 36px;
	font-weight:900;
	font-family: 'Roboto', Arial, sans-serif;
	line-height: 28px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.main-title:before {
	content:"";
	display:block;
	width:50px;
	height:3px;
	background:#e7490a;
	margin-top:20px;
	margin-bottom:10px;
}
.main-title span {
	font-size: 18px;
	font-weight:normal;
	font-family: 'Roboto', Arial, sans-serif;
	text-align:right;
	line-height: 16px;
	text-transform: uppercase;
	margin-top:10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #FFF;
    background-color: #252525;
    border: 1px solid #252525;
    border-bottom-color: transparent;
    cursor: default;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    background-color: #252525;
    border-color: transparent;
    cursor: default;
}
.circle1 {
	border:4px solid #222;
	border-radius:50%;
	width:140px;
	height:140px;
	margin-top:10px;
}
.banner-head {
background: #192430;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #212c37, #192430);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #212c37, #192430); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding:15px;
	color:#fff;
}

@media (min-width: 1200px) {
.container {
    width: 1280px;
}
}
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
a:hover img {
	opacity:0.8;
}
.page {
	padding-top: 30px;
}
.center {
	text-align: center;
}
.list-group {
    font-size: 13px;
    font-weight: normal;
}
.nav-pills {
    font-weight: bold;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.4;
    background-color: #111;
    border: 0px solid #ededed;
}
.thumbnail:hover {
	background-color: #111;
    border: 0px solid #ededed;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons .or.or-sm{height:1em}
.ui-group-buttons .or.or-sm:after{height:2.5em}
.ui-group-buttons .or.or-xs{height:.25em}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000}
.ui-group-buttons{display:inline-block;}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:15px}

.news-row {
	background:#fff;
	padding:50px 0px;
	color:#111;
}
.news-title {
	text-align:center;
	font-size:46px;
	font-weight:900;
	text-transform:uppercase;
	margin-bottom:20px;
}
.news-title span {
	font-weight:300;
}

.news-row img {
	float:left;
	width:40% !important;
	height:auto;
	margin-right:20px;
}
.news-row .text {
	float:left;
	width:56%;
}
.news-row .text span {
	color:#e7490a;
}
.pad {
	padding-top:80px;
}
.box1 {
	outline: 2px solid #e5e5e5;
    outline-offset: -5px;
	padding-bottom:10px;
}
.title {
	font-size:14px;
	font-weight:normal;
	font-family: 'Roboto', Arial, sans-serif;;
	color:#fff;
	padding: 5px 0px;
	width:100%;
	text-transform:uppercase;
	margin:5px 0px 12px;
	border-bottom:1px solid #D2BE7E;
	text-align:left;
	width: 33%;
}
.tournbox {
	margin-bottom: 10px;
}
.tournbox .btn {
	float:right;
	margin-top:-10px;
}
.tournbox .btn:after {
	clear:both;
}
.tournbox h3, .tournbox h5, .tournbox p {
	margin:0px;
	margin-bottom:2px;
	padding:0px;
}
.fa-2 {
	font-size:26px;
	padding:3px;
}
table a:not(.btn), .table a:not(.btn) {
    color: #e6480d;
    text-decoration: none;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0px solid #fff;
}
.table {
    border: 1px solid #192027;
    margin-top: 2px;
	margin-bottom: 2px;
	line-height: 1em;
	font-size: 13px !important;
}
.table td {
	font-size: 13px !important;
}
table, table td {
	font-size: 13px !important;
}
tr {
    background: #1f252c;
    border-bottom: 2px solid #192027;
}
tr:hover, td:hover {
	background:#222 !important;
}
td img {
	max-width:40px;
	height:auto;
	margin-right:5px;
}
.pagination>li>a, .pagination>li>span {
    color: #aaa;
    background-color: #1f252c;
}
.pagination>li>a:hover {
    background-color: #192027;
	color:#fff;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #999;
    background-color: #1f252c;
    border-color: transparent;
    cursor: not-allowed;
}
.navbar-brand {
    float: left;
    max-width: 290px;
	margin-right:20px;
	margin-top:-35px;
}
.navbar-brand>img {
    height:auto;
	width:284px;
	z-index:9999;
}
.pad {
	padding-top:78px;
	padding-bottom:50px;
}
a {
	color: #e7490a;
    text-decoration: none;
}
a:hover, a:focus {
    color: #fff;
    text-decoration: none;
}
#ti-info {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 40px;
}
.btn-primary {
    color: #ffffff;
    background-color: #2a7eb3 !important;
	border: 1px solid #2a7eb3 !important;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #1F568F !important;
	border: 1px solid #1F568F !important;
	opacity: 0.8;
}
.btn-default {
    color: #ffffff;
    background-color: #e7490a !important;
	border: 1px solid #e7490a !important;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #e7490a !important;
	border: 1px solid #e7490a !important;
	opacity: 0.8;
}
.btn-success {
	background-color: #40ba4f !important;
	border-color: #40ba4f !important;
}
.btn-success:hover {
	background-color: #40ba4f !important;
	border-color: #40ba4f !important;
	opacity: 0.8;
}
@media (min-width: 768px) {
.navbar-nav {
    float: right;
	margin-top:30px;
}
}
.navbar-nav {
    background-color:transparent;
}
.navbar-default .dropdown-menu {
    background-color: #151d23;
	z-index: 9999999;
}

.navbar-nav>li>a {
    font-size:15px;
}
.navbar-default {
    background:#151d23;
	font-size: 15px;
	text-transform: uppercase;;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight:normal;
    border-color: transparent;
	padding:20px 10px 50px;
	margin-bottom: 0px;
	position:fixed;
	z-index: 999;
	width:100%;
	top:0px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #e7490a;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #e7490a;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: rgba(0,0,0,0.30);
    color: #e7490a;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
@media (max-width: 768px) {
.profile-ava img {
    display:none;
}
.profile-ava a {
    font-size:16px;
	margin:0px 10px;
	color:#fff;
}
.dark h1, .dark h4 {
	font-size:14px;
	font-weight:900;
}
.navbar-nav>li>a {
    font-size:16px;
	line-height:30px;
	height:30px;
	padding-top:0px;
	padding-bottom:0px;
}
}
.dropdown-menu>li>a {
    padding: 6px 8px;
}
.btn {
	border-radius:0px !important;
}
.space {
	margin-bottom:20px;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus {
    color: #ffffff;
    background-color: #222;
    border-color: #222;
}
.btn-group .dropdown-toggle.btn-primary~.dropdown-menu {
    background-color: #222;
    border-color: #222;
}
.btn-group .dropdown-toggle.btn-primary~.dropdown-menu>li>a:hover {
    background-color: #333;
}
.slider {
    height: auto;
}
.panel-title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
	font-weight:normal;
    color: #fff;
	background:transparent;
	text-transform:uppercase;
	padding:5px;
	font-weight: 700;
}
.panel, .panel-default {
	border:0px;
	border-radius:0px;
	margin-bottom:10px;
}
.panel {
	border:1px solid #2c363e;
	background: rgb(45,54,66); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(45,54,66,1) 0%, rgba(16,30,41,1) 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(45,54,66,1) 0%,rgba(16,30,41,1) 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(45,54,66,1) 0%,rgba(16,30,41,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3642', endColorstr='#101e29',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}
.panel-default {
	background:rgba(255,255,255,0.05);
	-webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}
.panel-body {
	padding:8px;
}
.dark {
	background:#1c1c1c;
	color:#ffffff;
	padding-top:20px;
	padding-bottom:40px;
}
.flag {
	float:left;
	width:72px;
	height:auto;
	margin-right: 10px;
	margin-bottom:5px;
}
.info-text {
	float:left;
	max-width:80%;
}
.right-text {
	float:right;
}
.view-right {
	float:right;
}
.view-right:after {
	clear:both;
}
.league {
	margin-bottom: 5px;
	line-height:20px
}
.league ul {
	list-style:none;
	float:left;
	width:49%;
	margin-right:1%;
	margin-left:0px;
	padding-left:0px;
}
.league ul li {
	list-style:none;
	padding-left:0px;
	margin-left:0px;
	line-height:18px;
}
.jleague {
	clear:both;
}
.soc-pad {
	padding:30px 4px;
	text-align:center;
	color:#fff;
	font-weight:bold;
}
.twitter {
	background:#55acee;
	border-top:0px solid transparent;
}
.facebook {
	background:#3b5998;
	border-top:0px solid transparent;
}
.twitch {
	background:#6441a5;
	border-top:0px solid transparent;
}
.youtube{
	background:#d62423;
	border-top:0px solid transparent;
}
.no-border {
	border-bottom:0px;
	width:100%;
}
.profile-ava {
    position: absolute;
	min-width: 380px;
	max-width: 800px;
    left: 0px;
	right: 0px;
    bottom: 20%;
	color:#fff;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.profile-ava a {
    font-size:20px;
	margin:0px 10px;
	color:#fff;
}
.rel {
	position:relative;
}
.smpad {
	padding-left:4px !important;
	padding-right:4px !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    z-index:9999999 !important;
}
.bold {
	font-weight: 700 !important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    line-height: 1.0;
    vertical-align: middle;
}
.find {
	max-width:50%;
	height:auto;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #ffffff;
    background-color:rgba(255,255,255,0.05);
	outline: 1px solid #1291C7;
    outline-offset: -1px;
}
.nav-pills>li>a {
    padding: 10px 15px;
	background-color:rgba(0,0,0,0.09);
	color: #fff;
	font-size:16px;
}
.white, .white:hover {
	color:#fff !important;
}
.footer {
	background:#1e2329;
	border-top:1px solid #e84908;
	padding:10px 0px 10px;
	color:#687989;
	margin-top:30px;
	padding:10px 0px;
}

.footer a {
	color:#FFF;
	margin: 10px;
	font-size: 22px;
}
.page {
	padding-bottom:50px;
}

@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 0px 0 rgba(255,255,255,0.0);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
@media (max-width: 1440px) {
	.event {
	height:190px;
	max-height:200px;
	padding:30px 10px 0px 30px;
}
}
@media (max-width: 768px) {
.minh1 {
	min-height:100px;
}
.links1, .links2, .links3 {
	text-align:center;
	padding-top:10px;
}
.navbar-brand>img {
    height: auto;
    width: 160px;
    z-index: 9999;
	margin-top:4px;
}
.carousel-caption {
    position: absolute;
    left: 10%;
    bottom: 10%;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
}

.carousel-caption {
    position: absolute;
    left: 10%;
    top: 20%;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.carousel-caption h3 {
	font-size:70px !important;
	font-weight:900 !important;
}
.carousel-caption p {
	font-size:22px !important;
	font-weight:300 !important;
}


.panel-login {
	border-color: transparent;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	background:rgba(16,39,54,0.20);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: rgba(255,255,255,0.10);
	border-color: transparent;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #e7490a;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 0px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	background:rgba(22,38,47,0.50)
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: transparent;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}