{% load static %}
{% include 'pages/wlg/header.html' %}

  {% block head %}
  <title>PageName - {{ SITE_NAME }}</title>
  {% endblock %}


{% if messages %}
 <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
  
  
  {% block body %}
  <h1>base</h1>
  {% endblock %}

{% include 'pages/wlg/footer.html' %}
  