{% extends "stock/base.html" %}
{% load static %}

{% block head %}
    <title>Wager Requests - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}
    <table class="table table-hover">
        <tr id="header">
            <thead>
            <th scope="row">ID</th>
            <th>Challenging team</th>
            <th>Game</th>
            <th>Expiration Time</th>
            </thead>
        </tr>
        {% for wager in wager_list %}
            <tbody>
            <tr scope="">
                <td scope="row"><a href="{% url 'wagers:request_detail' pk=wager.id %}">{{ wager.id }}</a></td>
                <td><a href="{% url 'teams:detail' pk=wager.team.id %}">{{ wager.team.name }}</a></td>
                <td>{{ wager.game.name}}</td>

                <td>
                    <script>
                    const date = new Date("{{ wager.expiration|safe }}");
                    const formatted = date.getMonth() + ' ' + date.getDay() + ', ' + date.getFullYear();
                    document.write(date.toLocaleString());
                    </script>
                </td>
            </tr>
            </tbody>
        {% endfor %}
        <button class="btn btn-circle"><a href="{% url 'wagers:request_create' %}">Create Wager Request</a></button>
    </table>
{% endblock %}
