{% extends 'ga/base.html' %}
{% load static %}

{% block head %}
    <title>Send an Invite - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}

    <div class="container page">

        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">

                    <form method="POST" action="{% url 'teams:invite' %}">
                        <table class="table">
                            {% csrf_token %}
                            {{ form }}

                            <tr>
                                <td colspan="2">
                                    <input type="submit" value="Invite" class="btn btn-success"/>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
