{% extends "roc/base.html" %}
{% load static %}
  {% block head %}
  <title>Store - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}

<div class="container page">

     <div class="panel">
      <div class="panel-body">

    {% for product in products %}
               <div class="col-xs-6 col-sm-3 bot10">
        <div class="panel-default">
         <div class="panel-body center">
          <img src="{% static 'roc/images/credits.png' %}"><br>
          <h3><b>{{product.name}}</b></h3>
          <a class="btn btn-primary btn-xs btn-block center" href="{% url 'store:detail' pk=product.id %}"> {{ product.price }} ORDER NOW </a>
         </div>
         </div>
       </div>

    {% endfor %}
      </div>
     </div>
</div>

{% endblock %}