{% extends "stock/base.html" %}

{% block head %}
    <title>Password Reset - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}
    <h3>Forgotten your password?</h3>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
                {{ form.email.errors }}
                <label for="id_email">Email address:</label>
                {{ form.email }}
            </div>
            <input type="submit" value="Reset my password" class=""/>
        </fieldset>
    </form>
{% endblock %}