{% extends 'ot/base.html' %}
{% load static %}
{% block head %}
    <title>My Teams - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}
    <div class="container page1">
        <div class="space90"></div>


        <div class="panel">
            <div class="panel-body">
                <br>
                <div class="panel-title"><a href="{% url 'teams:create' %}"><i class="fa fa-plus"></i> Create a new team</a>
                </div>


                <div class="panel-title"><a href="{% url 'teams:myinvitelist' %}"><i class="fa fa-users"></i> View Team
                    Invites</a></div>

                <div class="row bot10">
                    <div class="col-xs-4 center">
                        <a class="btn btn-success btn-xs btn-block" href="#"><img
                                src="{% static 'duel/images/xbl-white.png' %}"> XBOX</a>
                    </div>
                    <div class="col-xs-4 center">
                        <a class="btn btn-primary btn-xs btn-block" href="#"><img
                                src="{% static 'duel/images/psn-white.png' %}"> PS4</a>
                    </div>
                    <div class="col-xs-4 center">
                        <a class="btn btn-warning btn-xs btn-block" href="#"><i class="fa fa-desktop"></i> PC</a>
                    </div>
                </div>
                <!--<div class="row bot10">
                <div class="col-xs-12">
                 <div class="form-group">
                  <label class="control-label">Search Teams</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control">
                    <span class="input-group-btn" style="border-radius:0px !important;">
                      <button class="btn btn-default" type="button" style="border-radius:0px !important;">Search</button>
                    </span>
                  </div>
                </div>
                </div>
                </div>-->

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="10%">ID</th>
                        <th width="30%">NAME</th>
                        <th width="20%">SOCIAL</th>
                        <th width="20%">FOUNDER</th>
                        <th width="20%">CREATED</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for TeamInvite in team_list %}
                        <tr>
                            <td width="10%" valign="middle">{{ TeamInvite.team.id }}</td>
                            <td width="30%" valign="middle"><a
                                    href="{% url 'teams:detail' pk=TeamInvite.team.id %}"><img
                                    src="{% static 'images/avatar.jpg' %}" width="30" height="30">
                                <b>{{ TeamInvite.team.name }}</b></a></td>
                            <td width="20%" valign="middle" style="font-size:20px;"><a href="#"><i
                                    class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-twitch"></i></a></td>
                            <td width="20%" valign="middle">{{ TeamInvite.team.founder }}</td>
                            <td width="20%" valign="middle">{{ TeamInvite.team.created }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <!--<ul class="pagination pagination-sm">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>-->
            </div>
        </div>

    </div>


{% endblock %}
