{% extends "stock/base.html" %}
{% load static %}

  {% block head %}
  <title>Partners - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
<table class="table table-hover">
    <tr id="header">
        <thead>
        <th scope="row">Name</th>
        <th>Website</th>
        <th>Bio</th>
        <th>Twitter</th>
        </thead>
    </tr>
    {% for partner in partners %}
    <tbody>
    <tr scope="">
        <td scope="row">{{ partner.name }}</td>
        <td><a href="http://{{ partner.website }}">Website</a></td>
        <td>{{partner.bio}}</td>
        <td><a href="http://{{ partner.twitter }}">Twitter</a></td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}
