{% extends "binge/base.html" %}
{% load static %}

{% block head %}
    <title>Matches - {{ SITE_NAME }}</title>
{% endblock %}


{% block body %}

    <div class="container page">

        <div class="panel">
            <div class="panel-title">My Matches</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr id="header">
                        <thead>
                        <th scope="row">ID</th>
                        </thead>
                    </tr>
                    {% for match in matches %}
                        <tbody>
                        <tr scope="">
                            <td scope="row"><a href="{% url 'matches:detail' pk=match.id %}">#{{ match.id }}</a></td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


{% endblock %}