{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>{{ league.name }} Divisions - {{ SITE_NAME }}</title>
{% endblock %}


{% block body %}


    {% for division in divisions %}
        <table class="table table-hover">
        <tr id="header">
            <thead>
            <th>Division Name</th>
            <th>Division ID</th>
            </thead>
        </tr>
        <tbody>
        <tr scope="">
            <td>{{ division.name }}</td>
            <td>{{ division.pk }}</td>
        </tr>
        <table class="table table-hover">
            <tr id="header">
                <thead>
                <th>Teams in {{ division.name }}</th>
                </thead>
            </tr>
            {% for team in division.teams.all %}
                <tr scope="">
                    <td><a href="{% url 'teams:detail' pk=team.id %}">{{ team.team.name }}</a></td>
                </tr>
            {% endfor %}
        </table>
        </tbody>
        <hr>
    {% endfor %}
</table>
{% endblock %}