{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Division #{{ division.id }} Matches - {{ SITE_NAME }}</title>
{% endblock %}


{% block body %}


    <h1>Division Standings</h1>
    <table class="table table-hover">
        <tr id="header">
            <thead>
            <th>Team</th>
            <th>Wins/Loss</th>
            <th>Points</th>
            </thead>
        </tr>
        <tbody>
        {% for team in teams %}

            <tr scope="">
                <td><a href="{% url 'teams:detail' pk=team.id %}">{{ team.team.name }}</a></td>
                <td>{{ team.wins }}/{{ team.losses }}</td>
                <td>{{ team.points }}</td>
            </tr>

        {% endfor %}
        </tbody>

    </table>

{% endblock %}