{% extends "eot/base.html" %}
{% load staticfiles %}
  {% block head %}

  <title>News - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
     <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 wrap">
    <div class="row gutter-10 bot10">
    <div class="panel">
     <div class="panel-body">
     <div class="panel-title bold">Latest News</div>


    {% for post in posts %}
        <div class="col-xs-6 col-sm-6 col-md-3 bot10">
        <img src="{% static 'eot/images/news.jpg' %}"/><br>
        <br>
        <h5><b><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></b></h5>

        <p class="date"><strong>Published {{ post.publish }} by {{ post.author }}</strong></p>
        <p>{{ post.body|truncatewords:30|linebreaks }}</p>
        <a class="btn btn-primary btn-xs" href="{{ post.get_absolute_url }}">READ MORE	</a>
    {% endfor %}

<br />

    {% include "pagination.html" with page=posts %}
    </div>
     </div>
    </div>
    </div>
    </div>
{% endblock %}