{% extends "eot/base.html" %}
{% load static %}
  {% block head %}
  <title>My Tickets - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 wrap">

<form method="POST" action="{% url 'support:list' %}">
        {% csrf_token %}
        {{form}}

                <input type="submit" value="Filter" />

</form>


<h5 id="" style="text-decoration: none; margin:8px">
    <a style="text-decoration:none;" href="{% url 'support:create' %}">
        <i class="fa fa-plus"></i>  Create a new ticket
    </a>
</h5>
</div>

        <div class="panel-title">My Tickets</div>
                                <div class="table-responsive">
     <table class="table table-hover">
     <thead>
      <tr>
        <th width="20%">ID</th>
        <th width="20%">SUBJECT</th>
        <th width="20%">REPLIES</th>
        <th width="20%">CREATED</th>
        <th width="20%">UPDATED</th>

      </tr>
    </thead>
    <tbody>
    {% for ticket in ticket_list %}
      <tr>
        <td width="20%" valign="middle"><a href="{% url 'support:detail' pk=ticket.id %}">#{{ ticket.id }}</a></td>
        <td width="20%" valign="middle">{% if ticket.category == 0 %}
General
{% elif ticket.category == 1 %}
Prize Claim
{% elif ticket.category == 2 %}
Tournament Support
{% elif ticket.category == 3 %}
Billing
{% elif ticket.category == 4 %}
Refund Request
{% elif ticket.category == 5 %}
PSN/XBL Issues
{% elif ticket.category == 6 %}
Match Support/Dispute
        {% endif %}</td>
        <td width="20%" valign="middle">UNKNOWN</td>
        <td width="20%" valign="middle">{{ ticket.date }}</td>
        <td width="20%" valign="middle">{{ ticket.last_update }}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
  </div>











        </div>
{% endblock %}

