{% load static %}


<div class="footer">
  <div class="container">

   <div class="row">
   <p>{% block foot %}
  Powered by <a href="https://olly.nfmstudios.com" target="_blank">Project Olly</a> Version: {{ SITE_VERSION }} On Server: {{ SITE_SERVER }}
   {% endblock %}</p>

     <div class="col-xs-12 col-sm-4 col-md-3">
     <h4>COMPETITIONS</h4>
     <br>
     <a href="{% url 'singletournaments:list' %}">Fortnite Tournaments</a><br>
     <a href="{% url 'singletournaments:list' %}">CSGO Tournaments</a><br>
     </div>
     <div class="col-xs-12 col-sm-4 col-md-3">
     <h4>INFORMATION</h4>
     <br>
     <a href="{% url 'support:create' %}">Contact Us</a><br>
     <a href="{% url 'terms' %}">Terms of Service</a><br>
     <a href="{% url 'privacy' %}">Privacy Policy</a><br>
     </div>
     <div class="col-xs-12 col-sm-4 col-md-6" style="text-align:right;">
      <br><br>
      <img src="{% static 'ot/images/logo.png' %}"><br><br>
      <a href="https://twitter.com/PlayOTSE"><i class="fa fa-twitter"></i></a> <a href="https://www.facebook.com/PlayOT.se"><i class="fa fa-facebook"></i></a>  <a href=""><i class="fa fa-youtube"></i></a>  <a href=""><i class="fa fa-twitch"></i></a>
     </div>
   </div>
  </div>
</div>
    <script src="{% static 'ot/js/jquery.min.js' %}"></script>
    <script src="{% static 'ot/js/bootstrap.min.js' %}"></script>

</body>

</html>
