{% load staticfiles %}


<div class="footer">
  <div class="container">

   <div class="row">
   <p>{% block foot %}
  Powered by <a href="https://olly.nfmstudios.com" target="_blank">Project Olly</a> Version: {{ SITE_VERSION }} On Server: {{ SITE_SERVER }}
   {% endblock %}</p>

     <div class="col-xs-12 col-sm-4 col-md-3">
     <h4>COMPETITIONS</h4>
     <br>
     <a href="#">Fortnite Tournaments</a><br>
     <a href="#">Fortnite Ladders</a><br>
     <a href="#">CSGO Tournaments</a><br>
     <a href="#">CSGO Ladders</a><br>
     </div>
     <div class="col-xs-12 col-sm-4 col-md-3">
     <h4>INFORMATION</h4>
     <br>
     <a href="#">Contact Us</a><br>
     <a href="#">Dispute Match Results</a><br>
     <a href="#">Terms of Service</a><br>
     <a href="#">Privacy Policy</a><br>
     </div>
     <div class="col-xs-12 col-sm-4 col-md-6" style="text-align:right;">
      <br><br>
      <img src="{% static 'ot/images/logo.png' %}"><br><br>
      <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-facebook"></i></a>  <a href=""><i class="fa fa-youtube"></i></a>  <a href=""><i class="fa fa-twitch"></i></a>
     </div>
   </div>
  </div>
</div>
    <script src="{% static 'ot/js/jquery.min.js' %}"></script>
    <script src="{% static 'ot/js/bootstrap.min.js' %}"></script>

</body>

</html>
