{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  {% block head %}
  <title>PageName - {{ SITE_NAME }}</title>
  {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800" rel="stylesheet">
    <link href="{% static 'ot/components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'ot/components/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'ot/css/theme.css' %}" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-default" style="background:#161c2d;border:0px;-webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.6);box-shadow: 0 2px 20px 0 rgba(0,0,0,0.6);padding:10px 0px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{% static 'ot/images/logo.png' %}"/></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">HOME</a></li>
        <li><a href="#">TOURNAMENTS</a></li>
        <li><a href="#">LADDERS</a></li>
        <li><a href="#">LEADERBOARDS</a></li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">SHOP</a></li>
      </ul>

    </div>
    <div class="hidden-xs hidden-sm" style="position:absolute;top:14px;right:18px;">
      <ul class="nav navbar-top-links navbar-right" style="padding-top:6px;">
  <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw" style="color:#fff;"></i> <span style="color:#0cfbf3;font-weight:bold;">Profile</span> <i class="fa fa-caret-down" style="color:#fff;"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>

    </ul>
    </div>
  </div>
</nav>