{% extends "ot/base.html" %}
{% load static %}
  {% block head %}
  <title>{{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
 <section>
            <div id="myCarousel" class="carousel slide">
                 <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
                <div class="carousel-inner">
                    <figure class="item active">
                     <div class="slide-caption">
                    <h1>new tournaments</h1>
                    <h2>start daily for all games!</h2>
                    <a class="btn btn-transparent" href="{% url 'teams:create' %}"> CREATE A TEAM </a> <a class="btn btn-transparent" href="{% url 'teams:invite' %}"> INVITE PLAYERS </a>
                  </div>
                        <a href="#"><img src="{% static 'ot/images/slider1.jpg' %}" alt="Slide1"></a>
                    </figure>
                    <figure class="item">
                     <div class="slide-caption">
                    <h1>new tournaments</h1>
                    <h2>start daily for all games!</h2>
                    <a class="btn btn-transparent" href="{% url 'teams:create' %}"> CREATE A TEAM </a> <a class="btn btn-transparent" href="{% url 'teams:invite' %}"> INVITE PLAYERS </a>
                  </div>
                        <a href="#"><img src="{% static 'ot/images/slider2.jpg' %}" alt="Slide2"></a>
                     </figure>
                    <figure class="item">
                     <div class="slide-caption">
                    <h1>new tournaments</h1>
                    <h2>start daily for all games!</h2>
                    <a class="btn btn-transparent" href="{% url 'teams:create' %}"> CREATE A TEAM </a> <a class="btn btn-transparent" href="{% url 'teams:invite' %}"> INVITE PLAYERS </a>
                  </div>
                        <a href="#"><img src="{% static 'ot/images/slider1.jpg' %}" alt="Slide3"></a>
                    </figure>
                </div>
            </div>
    	</section>

<div class="container min-width" style="margin-top:-210px;z-index:900;">

    <div class="col-xs-12 center" style="z-index:9999;position:absolute;left:0px;right:0px;margin-left:auto;margin-right:auto;width:340px;">
    <h1 style="color:#3cf4fb;font-weight:800;">CHOOSE</h1>
    <h3>YOUR GAME</h3>
    </div>

     <div class="row bot20 center" style="margin-top:100px;">

      <div class="col-xs-12 col-sm-12 col-md-6">
       <img src="{% static 'ot/images/fortnite1.jpg' %}"><br><br>
       <div class="row">
        <div class="col-xs-12 col-sm-4">
         <a class="btn btn-transparent btn-block" href="#"><img src="{% static 'ot/images/xb1-button.png' %}"> XBOX ONE</a>
        </div>
         <div class="col-xs-12 col-sm-4">
         <a class="btn btn-transparent btn-block" href="#"><img src="{% static 'ot/images/ps4-button.png' %}"> PLAYSTATION</a>
        </div>
         <div class="col-xs-12 col-sm-4">
         <a class="btn btn-transparent btn-block" href="#"><img src="{% static 'ot/images/pc-button.png' %}"> PC | STEAM</a>
        </div>
       </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
       <img src="{% static 'ot/images/csgo1.jpg' %}"><br><br>
       <div class="row">
        <div class="col-xs-12">
         <a class="btn btn-transparent btn-block" href="#"><img src="{% static 'ot/images/pc-button.png' %}"> PC | STEAM</a>
        </div>
       </div>
      </div>

     </div>

     <div class="space90"><br></div>

    <div class="row bot20">

    <div class="col-xs-12 col-sm-12 col-md-9">
     <div class="panel">
      <div class="panel-body">
       <ul class="nav nav-tabs">
        <li class="active"><a href="#current" data-toggle="tab">CURRENT TOURNAMENTS</a></li>
        <!--<li><a href="#past" data-toggle="tab">UPCOMING TOURNAMENTS</a></li>-->
       </ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="current">

     <div class="row">

     {% if list.count == 0  %}
     No tournaments yet
     {% endif %}


         {% for tournament in list %}
      <div class="col-xs-12 col-sm-6">
       <div class="panel-default">
        <div class="panel-body current-home">
         <div class="console-label">{% if tournament.platform == 0 %}
        Playstation 4
        {% elif tournament.platform == 1 %}
        Xbox One
        {% elif tournament.platform == 2 %}
        PC
        {% elif tournament.platform == 3 %}
        Mobile
        {% elif tournament.platform == 4 %}
        Nintendo Switch
        {% elif tournament.platform == 5 %}
        Playstation 3
        {% elif tournament.platform == 6 %}
        Xbox 360
        {% endif %}</div>
         <div class="join-label"><a href="{% url 'singletournaments:detail' pk=tournament.id %}">JOIN NOW</a></div>
         <div class="col-xs-3 info1"><img src="{% static 'ot/images/fortnite-icon.png' %}"/></div>
         <div class="col-xs-9 info1">
          <div class="desc">
           <h3>{{ tournament.name }}</h3>
           Size: {{ tournament.size }} Teams<br>
           Starts: {{ tournament.start }}
          </div>
         </div>
        </div>
       </div>
      </div>
         {% endfor %}


      </div>

     </div>



  </div>

      </div>
     </div>
    </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3">
    <div class="title">Top Teams</div>
     <div class="panel grad">
     <!--<div class="top-players center">
     <img src=" static 'ot/images/csgo-wide.png' %}">-->
      <!--</div>-->
         {% for team in teamlist %}
      <div class="top-players">
       <div class="rank"><i class="fa fa-caret-up"></i> {{ team.rank }}</div>
       <div class="ava"><img src="{% static 'ot/images/blank-avatar.jpg' %}"></div>
          <div class="player"><a href="{% url 'teams:detail' pk=team.id %}">{{ team.name }}</a></div>
      </div>
         {% endfor %}
      </div>
    </div>

</div>

</div>

<section class="how">
 <div class="row">
  <div class="col-xs-12 center">
   <img src="{% static 'ot/images/how.jpg' %}">
  </div>
 </div>
</section>

<div class="container">
<div class="row">

 <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="title">Latest Matches</div>
     <div class="panel grad">

     {% if matchlist.count == 0 %}
     No matches!
     {% endif %}
        {% for match in matchlist %}
      <div class="top-players">
       <div class="ava2"><img src="{% static 'ot/images/blank-avatar.jpg' %}"></div>
          <div class="team"><a href="{% url 'teams:detail' pk=match.hometeam.id %}">{{ match.hometeam }}</a></div>
          <div class="game"><a href="{% url 'matches:detail' pk=match.id %}"><img src="{% static 'ot/images/logo.png' %}"></a><br>
       <span class="score">{% if match.winner.id == match.hometeam.id %}1-0{% elif match.winner.id == match.awayteam.id %}0-1{% else %}0-0{% endif %}</span></div>
          <div class="ava2"><a href="{% url 'teams:detail' pk=match.awayteam.id %}"><img src="{% static 'ot/images/blank-avatar.jpg' %}"></a></div>
       <div class="team">{{ match.awayteam }}</div>
      </div>
        {% endfor %}


     </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="title">Featured News</div>
     <div class="row">


        {% if newslist.count == 0 %}
     No News Posts!
     {% endif %}
         {% for news in newslist %}
         <div class="col-xs-12 col-sm-12 col-md-6 bot10">
       <img src="{% static 'ot/images/slider1.jpg' %}"><br>
       <h4><b>{{ news.title }}</b></h4>
       <p>{{ news.body|truncatewords:30|linebreaks }} </p>
       <a class="btn btn-transparent btn-block btn-sm" href="{{ news.get_absolute_url }}"> READ MORE </a>
      </div>
        {% endfor %}

     </div>
    </div>

</div>
</div>
{% endblock %}
