{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Map Pool - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}
    <div class="container page">

        <div class="panel">
            <div class="panel-title">{{ pool.name }}</div>
            <div class="panel-body">
                Game: {{ pool.game.name }} <br>
                Description: {{ pool.description }} <br>
                Maps:
                <ul>
                {% for x in pool.maps.all %}
                    <li>{{ x.name }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}