{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Match Checkin #{{ match.pk }} - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}
    Checkin Information for Match #{{ match.pk }}
    <table>
    <tr>
        <td>Match Type</td>
        <td>{{ match.type }}</td>
    </tr>
    <tr>
        <td>Platform - Game</td>
        <td>{{ match.platform.name }} - {{ match.game.name }}</td>
    </tr>
    <tr>
        <td>Match Info</td>
        <td>{{ match.info }}</td>
    </tr>
    <tr>
        <td>Home Team</td>
        <td><a href="{% url 'teams:detail' pk=match.hometeam.pk %}">{{ match.hometeam.name }}</a></td>
    </tr>
    <tr>
        <td>Away Team</td>
        <td><a href="{% url 'teams:detail' pk=match.awayteam.pk %}">{{ match.awayteam.name }}</a></td>
    </tr>
    </table>
    <h2>Please note only captains and team founder's can checkin for matches</h2>
    <p>To proceed with match checkin process, please click the corresponding button below. <br />
    You will be redirected to a new page where you will select the players that will be playing in the match</p>
    <button><a href="{% url 'matches:team_checkin' pk=match.pk teamid=match.hometeam.pk %}">Check in for Home Team here</a></button>
    <button><a class="btn-link" href="{% url 'matches:team_checkin' pk=match.pk teamid=match.awayteam.pk %}">Chcek in for Away Team here</a></button>
{% endblock %}