{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Matches - {{ SITE_NAME }}</title>
{% endblock %}

<link rel="stylesheet" href="{% static "css/matches.css" %}">

{% block body %}


    <table class="table table-hover">
        <tr id="header">
            <thead>
            <th scope="row">Match ID</th>
            <th>Match DateTime (Local)</th>
            </thead>
        </tr>
        <script>let date;</script>
        {% for match in matches %}
            <tbody>
            <tr scope="">
                <td scope="row"><a href="{% url 'matches:detail' pk=match.id %}">#{{ match.id }}</a></td>
                <td>
                    {% if match.datetime != None or match.datetime != "" %}
                        <script>
                            date = new Date("{{ match.datetime|safe }}");
                            document.write(date.toLocaleString());
                        </script>
                    {% else %}
                        TBD
                    {% endif %}
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>



{% endblock %}