{% extends "wlg/base.html" %}
{% load static %}

{% block head %}
    <title>Report a Match - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}

    <form method="POST" action="{% url 'matches:report' pk=pk %}">
        <table class="table">
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}