{% extends "wlg/base.html" %}
{% load static %}

{% block head %}
    <title>{{ post.title }} - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}


    <div class="container wrap">

        <div class="panel">
            <div class="panel-body">
                <div class="panel-title"><b>{{ post.title }}</b></div>
                <h5>Posted By: <a href="{% url 'profiles:profile' urlusername=post.author %}">{{ post.author }}</a>
                    | {{ post.publish }}</h5><br>
                <img src="{% static 'images/big-banner.jpg' %}"/>

                <div class="panel-default">
                    <div class="panel-body">

                        {{ post.body|linebreaks }}

                    </div>
                </div>


            </div>
        </div>

    </div>





{% endblock %}