{% extends 'staff/staffbase.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">
{% block title %}
    Modify user
{% endblock %}
{% block body %}
    <form method="post">
        {% csrf_token %}
        {{ field.errors }}

        <label>Bronze:</label>
        {{ form.num_bronze }}
        <br>

        <label>Silver:</label>
        {{ form.num_silver }}
        <br>

        <label>Gold:</label>
        {{ form.num_gold }}
        <br>

        <label>Earnings:</label>
        {{ form.current_earning }}
        <br>

        <label>XP:</label>
        {{ form.xp }}
        <br>

        <label>Credits:</label>
        {{ form.credits }}
        <br>

        <label>User type:</label>
        {{ form.user_type }}
        <br>

        <p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </p>

    </form>
{% endblock %}
