{% extends "ga/base.html" %}
{% load static %}
{% block head %}
    <title>{{ post.title }} - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}


    <div class="container page">

        <div class="panel">
            <div class="panel-body">
                <h1 class="center"><b>{{ post.title }}</b></h1>
                <h5>Posted By: {{ post.author }} | {{ post.publish }}</h5><br>
                <img style="width:100%; max-height: 60%;" src="{% static 'binge/images/binge news.png' %}"/>

                <div class="panel-default">
                    <div class="panel-body">

                        <p style="font-size:15px">{{ post.body|linebreaksbr }}</p>

                    </div>
                </div>


            </div>
        </div>

    </div>



{% endblock %}