{% extends 'staff/staffbase.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">

{% block title %}
    <title>Add Player to {{ team.name }}</title>
{% endblock %}

{% block body %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" action="{% url 'staff:add_player' pk=team.id %}">
        <table class="table">
            <h2>Force add a user to a team as a player - Enter username below.</h2>
            <p>Form will error out if the user already exists as a player on the team</p>
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary" type="submit" value="Create"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
