{% extends 'staff/staffbase.html' %}

{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">
{% block title %}
    Create Tournament
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{% static "css/staff.css" %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <h1><a href="{% url 'staff:tournamentlist' %}">Return to tournament list</a></h1>
    <br>
    <a href="{% url 'staff:tournamentrulesetcreate' %}"><i class="fa fa-plus"></i> Create a new ruleset</a>

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ field.errors }}

        <label>Name</label>
        {{ form.name }}
        <br>

        <label>Team Format</label>
        {{ form.teamformat }}
        <br>

        <label>Best of</label>
        {{ form.bestof }}
        <br>

        <div class="form-group">
            <div class="input-group">
                <label>Registration Open(IN UTC)</label>
                {{ form.open_register }}
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <label>Registration Close(IN UTC)</label>
                {{ form.close_register }}
            </div>
        </div>

        <label>Required Credits</label>
        {{ form.req_credits }}
        <br>

        <label>Platform</label>
        {{ form.platform }}
        <br>

        <label>Game</label>
        {{ form.game }}
        <br>

        <label>Map Pool</label>
        {{ form.map_pool }}
        <br>

        <div class="form-group">
            <div class="input-group">
                <label>Start Time</label>
                {{ form.start }}
            </div>
        </div>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <label>Image</label>
        {{ form.image }}
        <br>

        <label>Teams</label>
        {{ form.teams }}
        <br>

        <label>Size</label>
        {{ form.size }}
        <br>

        <label>General Info</label>
        {{ form.info }}
        <br>

        <label>Prize 1</label>
        {{ form.prize1 }}
        <br>

        <label>Prize 2</label>
        {{ form.prize2 }}
        <br>

        <label>Prize 3</label>
        {{ form.prize3 }}
        <br>

        <label>Active</label>
        {{ form.active }}
        <br>

        <label>Ruleset</label>
        {{ form.ruleset }}
        <br>

        <label>Allow registration</label>
        {{ form.allow_register }}
        <br>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
            $('#datetimepicker2').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
            $('#datetimepicker3').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
    </script>

{% endblock %}