{% extends 'staff/staffbase.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">
{% block title %}
Create Product
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


    <form method="post">
   {{ field.errors }}
     <table class="table">
        {% csrf_token %}

         <h4>PayPal info</h4>
         <label>Amount (price with no $) </label>
        {{ form.amount }}
        <br>

         <label>Item name(for PayPal, make it short) </label>
         {{ form.item_name }}
         <br>

         <h4>Front end info</h4>

         <label>Price(use $ here) </label>
         {{ form.price }}
         <br>

         <label>Item name </label>
         {{ form.name }}
         <br>

         <label>Active</label>
         {{ form.active }}
         <br>

        <tr>
            <td colspan="2">
                <input type="submit" value="Create" />
            </td>
        </tr>
    </table>

        </form>




{% endblock %}