
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">
{% block title %}
Create Tournament
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>

<link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet"/>

 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    <a><a href="{% url 'staff:tournamentlist' %}">Return to tournament list</a></h1>

<form method="post">
   {% csrf_token %}
   {{ field.errors }}

   <label>Name</label>
   {{ form.name }}
   <br>

   <label>Team Format</label>
   {{ form.teamformat }}
   <br>

   <label>Best of</label>
   {{ form.bestof }}
   <br>

   <div class="form-group">
       <div class="input-group">
           <label>Registration Open</label>
           {{ form.open_register }}
       </div>
   </div>

   <div class="form-group">
       <div class="input-group">
           <label>Registration Close</label>
           {{ form.close_register }}
       </div>
   </div>

   <label>Required Credits</label>
   {{ form.req_credits }}
   <br>

   <label>Platform</label>
   {{ form.platform }}
   <br>

   <label>Game</label>
   {{ form.game }}
   <br>

   <div class="form-group">
       <div class="input-group">
           <label>Start Time</label>
           {{ form.start }}
       </div>
   </div>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

   <label>Teams</label>
   {{ form.teams }}
   <br>

   <label>Winner</label>
   {{ form.winner }}
   <br>

   <label>Second Place</label>
   {{ form.second }}
   <br>

    <label>Third Place</label>
   {{ form.third }}
   <br>

   <label>Size</label>
   {{ form.size }}
   <br>

    <label>General Info</label>
    {{ form.info }}
    <br>

   <label>Prize 1</label>
   {{ form.prize1 }}
   <br>

   <label>Prize 2</label>
   {{ form.prize2 }}
   <br>

   <label>Prize 3</label>
   {{ form.prize3 }}
   <br>

   <label>Active</label>
   {{ form.active }}
   <br>

    <label>Ruleset</label>
    {{ form.ruleset }}
    <br>

   <button type="submit" class="btn btn-primary">Create</button>
</form>

<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD HH:mm'
        });
    });
</script>
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock %}