{% extends 'staff/staffbase.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">
{% block title %}
Game List
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<table class="table table-hover">
<tr id="header">
        <thead>
        <th scope="row">Name</th>
        </thead>
    </tr>
<tbody>
{% for game in games %}
    <tr>
        <td scope="row"><a href="{% url 'staff:game_detail' pk=game.id %}">{{game.name}}</a></td>
    </tr>
{% endfor %}
</tbody>
</table>




{% endblock %}