{% extends 'staff/staffbase.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">
{% block title %}
    Map List
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{% static "css/staff.css" %}">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <table class="table table-hover">
        <tr id="header">
            <thead>
            <th scope="row">Name</th>
            </thead>
        </tr>
        <tbody>
        {% for map in maps %}
            <tr>
                <td scope="row"><a href="{% url 'staff:map_detail' pk=map.id %}">{{ map.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock %}