{% extends 'staff/staffbase.html' %}
{% load staticfiles %}

{% block title %}
Match #{{ match.id }}
{% endblock %}

{% block body %}
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}


<p><a href="{% url 'staff:round_detail' pk=match.singletournamentround_set.get.id %}"><i class="fa fa-arrow-left"></i> <strong>Back to Round</strong></a></p>
<table class="table">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tr>
        <td>ID</td>
        <td>{{match.id}}</td>
    </tr>
    <tr>
        <td>Game</td>
        {% if match.game == 0 %}
        <td>No Game Set</td>
        {% elif match.game == 1 %}
        <td>Call of Duty: Black Ops 3</td>
        {% elif match.game == 2 %}
        <td>Call of Duty WWII</td>
        {% elif match.game == 3 %}
        <td>Fortnite</td>
        {% elif match.game == 4 %}
        <td>Destiny 2</td>
        {% elif match.game == 5 %}
        <td>Counter-Strike: Global Offensive</td>
        {% elif match.game == 6 %}
        <td>Player Unknown's BATTLEGROUNDS
        {% elif match.game == 7 %}
        <td>Rainbow Six Siege</td>
        {% elif match.game == 8 %}
        <td>Overwatch</td>
        {% elif match.game == 9 %}
        <td>League of Legends</td>
        {% elif match.game == 10 %}
        <td>Hearthstone</td>
        {% elif match.game == 11 %}
        <td>World of Warcraft</td>
        {% elif match.game == 12 %}
        <td>SMITE</td>
        {% elif match.game == 13 %}
        <td>Rocket League</td>
        {% elif match.game == 14 %}
        <td>Battlefield 1</td>
        {% endif %}
    </tr>
    <tr>
        <td>Format</td>
        {% if match.teamformat == 0 %}
        <td>1v1</td>
        {% elif match.teamformat == 1 %}
        <td>2v2</td>
        {% elif match.teamformat == 2 %}
        <td>3v3</td>
        {% elif match.teamformat == 3 %}
        <td>4v4</td>
        {% elif tournament.teamformat == 4 %}
        <td>5v5</td>
        {% elif tournament.teamformat == 5 %}
        <td>6v6</td>
        {% endif %}
    </tr>
    <tr>
        <td>Home team</td>
        <td><a href="{% url 'teams:detail' pk=match.hometeam_id %}">{{ match.hometeam }}</a></td>
    </tr>
    <tr>
        <td>Away Team</td>
        <td><a href="{% url 'teams:detail' pk=match.awayteam_id %}">{{ match.awayteam }}</a></td>
    </tr>
    <tr>
        <td>Reported</td>
        {% if match.reported %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}
    </tr>
    <tr>
        <td>Disputed</td>
        {% if match.disputed %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}
    </tr>
    <tr>
        <td>Completed</td>
        {% if match.completed %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}
    </tr>
    <tr>
        <td>Winner</td>
        <td>{{ match.winner }}</td>
    </tr>

</table>

    <p>
    {% if not match.completed %}
        <a href="{% url 'staff:match_declare_winner' pk=match.id %}" class="btn btn-primary">Declare Winner</a>
    {% else %}
        <a href="{% url 'staff:match_delete_winner' pk=match.id %}" class="btn btn-danger">Delete Winner</a>
    {% endif %}
    </p>

    <h2>Reports for this match...</h2>

    <table>
    <tr>
    <th>{{ match.hometeam }} Reported Winner</th>
    </tr>
    <tbody>
    <td>{{ match.team1reportedwinner }}</td>
    </tbody>
    </table>
    <br />
    <table>
    <tr>
    <th>{{ match.awayteam }} Reported Winner</th>
    </tr>
    <tbody>
    <td>{{ match.team2reportedwinner }}</td>

    </tbody>
    </table>

{% endblock %}
