{% extends 'staff/staffbase.html' %}
{% load static %}
{% block title %}
    Create Partner
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{% static "css/staff.css" %}">

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ field.errors }}

        <label>Name</label>
        {{ form.name }}
        <br>

        <label>Website</label>
        {{ form.website }}
        <br>

        <label>twitter</label>
        {{ form.twitter }}
        <br>

        <label>Bio</label>
        {{ form.bio }}
        <br>

        <label>Logo</label>
        {{ form.logo }}
        <br>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

{% endblock %}