{% extends 'staff/staffbase.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">

{% block title %}
Partners
{% endblock %}
{% block body %}
    <div style="overflow-x:auto;">

<table class="table table-hover">
    <tr id="header">
        <thead>
        <th scope="row">ID</th>
        <th>Name</th>
        <th>Website</th>
        <th>Twitter</th>
        </thead>
    </tr>
    {% for partner in partner_list %}
    <tbody>
    <tr scope="">
        <td scope="row"><a href="{% url 'staff:partner_detail' pk=partner.id %}">#{{partner.id}}</a></td>
        <td>{{ partner.name }}</td>
        <td><a target="_blank" href="{{ partner.website }}">{{ partner.website }}</a></td>
        <td><a target="_blank" href="http://twitter.com/{{ partner.twitter }}">{{ partner.twitter }}</a></td>
    </tr>
    </tbody>
    {% endfor %}
</table>
    </div>
{% endblock %}