<html>
<head>

    {% block head %}
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Website Name Staff Panel">
        <meta name="author" content="NFM Studios">
        <!-- Bootstrap core JavaScript-->
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
        <!-- Core plugin JavaScript-->
        <script src="{% static "js/jquery.easing.min.js" %}"></script>
        <!-- Page level plugin JavaScript-->
        <script src="{% static "js/Chart.min.js" %}"></script>
        <script src="{% static "js/jquery.dataTables.js" %}"></script>
        <script src="{% static "js/dataTables.bootstrap4.js" %}"></script>
        <!-- Custom scripts for all pages-->
        <script src="{% static "js/sb-admin.min.js" %}"></script>
        <!-- Custom scripts for this page-->
        <script src="{% static "js/sb-admin-datatables.min.js" %}"></script>
        <script src="{% static "js/sb-admin-charts.min.js" %}"></script>
        <!-- Bootstrap core CSS-->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <!-- Page level plugin CSS-->
        <link href="{% static "css/dataTables.bootstrap4.css" %}" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">

        <title>{{ SITE_NAME }} - Staff Panel</title>
    {% endblock %}
</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'staff:index' %}">Project Olly Version {{ SITE_VERSION }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="{% url 'staff:index' %}">
                    <i class="fa fa-fw fa-home"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="News">
                <a class="nav-link" href="{% url 'staff:news_index' %}">
                    <i class="fa fa-fw fa-newspaper-o"></i>
                    <span class="nav-link-text">News</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
                <a class="nav-link" href="{% url 'staff:users' %}">
                    <i class="fa fa-fw fa-user"></i>
                    <span class="nav-link-text">Users</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Support">
                <a class="nav-link" href="{% url 'staff:tickets' %}">
                    <i class="fa fa-fw fa-support"></i>
                    <span class="nav-link-text">Support</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Pages">
                <a class="nav-link" href="{% url 'staff:pages' %}">
                    <i class="fa fa-fw fa-pencil"></i>
                    <span class="nav-link-text">Pages</span>
                </a>
            </li>
            {% if request.tenant == "ga" %}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="partners">
                <a class="nav-link" href="{% url 'staff:partner_list' %}">
                    <i class="fa fa-fw fa-paw"></i>
                    <span class="nav-link-text">Sponsors/Partners</span>
                </a>
            </li>
            {% endif %}

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Games">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseGames"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-gamepad"></i>
                    <span class="nav-link-text">Games</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseGames">
                    <li>
                        <a href="{% url 'staff:create_gamechoice' %}">Create</a>
                    </li>
                    <li>
                        <a href="{% url 'staff:gamelist' %}">Manage</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Platforms">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePlatforms"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-gamepad"></i>
                    <span class="nav-link-text">Platforms</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapsePlatforms">
                    <li>
                        <a href="{% url 'staff:create_platformchoice' %}">Create</a>
                    </li>
                    <li>
                        <a href="{% url 'staff:platformlist' %}">Manage</a>
                    </li>
                </ul>
            </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Maps">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMaps"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-map-marker"></i>
                    <span class="nav-link-text">Maps</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseMaps">
                    <li>
                        <a href="{% url 'staff:create_mapchoice' %}">Create Map</a>
                    </li>
                    <li>
                        <a href="{% url 'staff:map_list' %}">Manage Maps</a>
                    </li>
                    <li>
                        <a href="{% url 'staff:create_map_pool_choice' %}">Create Map Pool</a>
                    </li>
                    <li>
                        <a href="{% url 'staff:map_pool_list' %}">Manage Map Pools</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tournaments">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseTournaments"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-users"></i>
                    <span class="nav-link-text">Tournaments</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseTournaments">
                    <li>
                        <a href="{% url 'staff:create_tournament' %}">Create</a>
                    </li>
                    <li>
                        <a href="{% url 'staff:tournamentlist' %}">Manage</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Matches">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMatches"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-gamepad"></i>
                    <span class="nav-link-text">Matches</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseMatches">
                    <li>
                        <a href="{% url 'staff:matches_index' %}">All</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Teams">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseTeams"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-shield"></i>
                    <span class="nav-link-text">Teams</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseTeams">
                    <li>
                        <a href="{% url 'staff:teamindex' %}">List</a>
                    </li>
                    <!--<li>
                      <a href="#">Coming soon!</a>
                    </li>
                    <li>
                      <a href="#">Coming soon!</a>
                    </li>
                    <li>
                      <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
                      <ul class="sidenav-third-level collapse" id="collapseMulti2">
                        <li>
                          <a href="#">Coming soon!</a>
                        </li>
                        <li>
                          <a href="#">Coming soon!</a>
                        </li>
                        <li>
                          <a href="#">Coming soon!</a>
                        </li>
                      </ul>
                    </li>-->
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Store">
                <a class="nav-link" href="{% url 'staff:store' %}">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                    <span class="nav-link-text">Store</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>


<div class="content-wrapper">
    <br/>
    <br/>


    <div class="container-fluid">
        <!-- Breadcrumbs-->
    {% if messages %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item">

                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
            </li>
        </ol>
    {% endif %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'staff:index' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">{% block title %} {% endblock %}</li>
        </ol>
        <div class="row">
            <div class="col-12">

                {% block body %}


                {% endblock %}
            </div>

        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->

        <!-- Scroll to Top Button-->
        <!--<a class="scroll-to-top rounded" href="#page-top">
          <i class="fa fa-angle-up"></i>
        </a>--->


    </div>
</div>
{% block footer %}
    <footer class="sticky-footer" style="width:auto">
        <div class="container">
            <div class="text-center">
                <small>Copyright NFM Studios© {{ SITE_NAME }} 2019</small>
            </div>
        </div>
    </footer>

{% endblock %}

</body>

</html>
