<html>
<head>

  {% block head %}
  {% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/fontawesome-all.min.css" %}">
  <link rel="stylesheet" href="{% static "css/staff.css" %}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Website Name Staff Panel">
  <meta name="author" content="NFM Studios">
  <!-- Bootstrap core CSS-->
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <!-- Page level plugin CSS-->
  <link href="{% static "css/dataTables.bootstrap4.css" %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
  <title>{{ app.title }}</title>
  {% endblock %}
</head>
<body>

 <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Project Olly (DEV BUILD)</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/staff">Staff Home</a></li>
              <li><a href="/staff/users">Users</a></li>
              <li><a href="/staff/tickets">Tickets</a></li>
              <li><a href="/staff/staticinfo">Static Info</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout/">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>


  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% block body %}
  <h1>base</h1>
  {% endblock %}
</body>
</html>
