{% extends 'staff/staffbase.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">

{% block title %}
Static Info
{% endblock %}

{% block body %}
<p>{{ staticinfo.about_us }}</p>

<form method="POST" action="{% url 'staff:pages' %}">
    <table class="table">
        {% csrf_token %}
        {{form.as_table}}
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-success" value="Submit" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}