{% extends "staff/staffbase.html" %}
{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">
{% block title %}
    Create Support Ticket Categories
{% endblock %}
{% block body %}
    <form method="post">
        {% csrf_token %}

        {{ field.errors }}

        <label>Name</label>
        <div class="form-group">{{ form.name }}</div>


        <label>Priority</label>
        <div class="form-group">{{ form.priority }}</div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}