{% extends 'staff/staffbase.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/ticket.css" %}">

{% block body %}
<table class="table table-hover">
    <tr id="header">
        <thead>
        <th scope="row">ID</th>
        <th>Status</th>
        <th>Category</th>
        <th>Date Created</th>
        </thead>
    </tr>
    {% for ticket in ticket_list %}
    <tbody>
    <tr scope="">
        <td scope="row"><a href="{% url 'staff:ticket_detail' pk=ticket.id%}">#{{ticket.id}}</a></td>
        <td>
        {% if ticket.status == 0 %}
            New
        {% elif ticket.status == 1 %}
            On Hold
        {% elif ticket.status == 2 %}
            In Progress
        {% elif ticket.status == 3 %}
            Closed
        {% endif %}
        </td>
        <td>

        </td>
        <td>{{ticket.last_update}}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}