{% extends 'staff/staffbase.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/staff.css" %}">

{% block title %}
Support Tickets
{% endblock %}
{% block body %}
    <div style="overflow-x:auto;">

    <form method="POST" action="{% url 'staff:tickets' %}">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Filter" />
    </form>

<table class="table table-hover">
    <tr id="header">
        <thead>
        <th scope="row">ID</th>
        <th>Status</th>
        <th>Username</th>
        <th>Category</th>
        <th>Date Created</th>
        <th>Last Updated</th>
        </thead>
    </tr>
    {% for ticket in ticket_list %}
    <tbody>
    <tr scope="">
        <td scope="row"><a href="{% url 'staff:ticket_detail' pk=ticket.id%}">#{{ticket.id}}</a></td>
        <td>
        {% if ticket.status == 0 %}
            New
        {% elif ticket.status == 1 %}
            On Hold
        {% elif ticket.status == 2 %}
            In Progress
        {% elif ticket.status == 3 %}
            Closed
        {% endif %}
        </td>
        <td>
        {{ ticket.creator }}
        </td>
        <td>
        {% if ticket.category == 0 %}
        General
        {% elif ticket.category == 1 %}
        Prize Claim
        {% elif ticket.category == 2 %}
        Tournament Support
        {% elif ticket.category == 3 %}
        Billing
        {% elif ticket.category == 4 %}
        Refund Request
        {% elif ticket.category == 5 %}
        PSN/XBL Issues
        {% elif ticket.category == 6 %}
        Match Support/Dispute
        {% endif %}
        </td>
        <td>{{ticket.last_update}}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
    </div>
{% endblock %}