{% extends "stock/base.html" %}
{% load static %}

  {% block head %}
  <title>{{ team.name }} - {{ SITE_NAME }}</title>
  {% endblock %}
  
{% block body %}

 {% if not user.is_anonymous %}
<p><a href="{% url 'teams:list' %}"><i class="fas fa-arrow-left"></i> <strong>Back to team list</strong></a></p>
{% else %}
<a href="{% url 'index' %}"><i class="fas fa-arrow-left"></i> <strong>Back to home</strong></a></a>
{% endif %}

<table class="table">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tr>
        <td>Team Image</td>
        <td>{% if team.image.url != "" %}
            <img src="{{ team.image.url }}" align="center" width="200"> <br/>
        {% else %}
            <img src="{{ MEDIA_URL }}default_profile.png" align="center" width="200"/> <br/>
        {% endif %}</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>{{team.id}}</td>
    </tr>
    <tr>
        <td class="team-name">Name</td>
        <td>{{team.name}}</td>
    </tr>
    <tr>
        <td class="">Founder</td>
        <td><a href="{% url 'profiles:profile' urlusername=team.founder %}">{{team.founder}}</a></td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{team.created}}</td>
    </tr>
    <tr>
        <td>Twitter</td>
        <td><a href="
    {% if team.twitter == "No Twitter Linked" or team.twitter == "" %}
        #
    {% else %}
    https://twitter.com/{{ team.twitter }}
        {% endif %}">

            {{ team.twitter }}</a></td>
    </tr>
    <tr>
        <td>Twitch</td>
        <td>
            <a href="
    {% if team.twitch == "No Twitch Linked" or team.twitch == "" %}
        #
    {% else %}
    https://twitch.tv/{{ team.twitch }}
        {% endif %}">

            {{ team.twitch }}</a></td>
    </tr>
    <tr>
        <td>Players</td>
{% for profile in up %}

                                        <tr>
                                            <td valign="middle"><img src="{% static 'binge/images/stock.png' %}"/></td>
                                            <td valign="middle"><img src="{{ profile.country.flag }}"><a href="{% url 'profiles:profile' urlusername=profile.user %}">{{ profile.user }}</a></td>
                                            <td valign="middle">{% if profile.xbl_verified and profile.psn_verified %}YES{% else %}NO{% endif %}</td>
                                        </tr>
                                    {% endfor %}
    </tr>
</table>

    <a href="{% url 'teams:leave' pk=pk %}">Leave team</a>

    {% if team.founder == request.user %}
    <p><a href="{% url 'teams:remove' pk %}">Remove users</a></p>
    <p><a href="{% url 'teams:edit' pk %}">Edit Team</a></p>
    {% endif %}


{% endblock %}
