{% extends 'duel/base.html' %}
{% load static %}

{% block head %}
    <title>{{ team.name }} - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}

    <div class="container page">

        <div class="panel">
            <div class="panel-title">Dissolve Team</div>
            <div class="panel-body">

                <form method="post">
                    {% csrf_token %}

                    {{ field.errors }}

                    Confirm: {{ form.confirmed }}


                    <p>
                        <button type="submit" class="btn btn-primary">Dissolve team</button>
                    </p>
                </form>


            </div>
        </div>
    </div>

{% endblock %}