{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>{{ tournament.name }} Bracket - {{ SITE_NAME }}</title>
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{% static "css/singletournaments.css" %}">
    <br/>
    <br/>
    <br/>

    <div class="container page">

        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <main id="tournament">
                    {% for round in rounds %}
                        <ul class="round round-{{ forloop.counter }}">
                            <li class="spacer">&nbsp;</li>
                            {% for match in round.matches.all %}
                                <li class="game game-top {% if match.winner.id == match.awayteam.id %}
            winner
            {% else %}

            {% endif %}"><a href="{% url 'matches:detail' pk=match.id %}">{% if match.awayteam.id is None %}BYE
                                    TEAM{% else %}{{ match.awayteam }}
                                    <img src="{{ match.awayteam.country.flag }}">{% endif %}</a><span>
            {% if match.bye_2 is True %}
                BYE
            {% elif match.hometeam.id is None or match.awayteam.id is None %}
                BYE
            {% elif match.winner.id == match.awayteam.id %}
                1
            {% else %}
                0
            {% endif %}
        </span></li>
                                <li class="game game-spacer">&nbsp;</li>
                                <li class="game game-bottom {% if match.winner.id == match.hometeam.id %}
            winner
            {% else %}

            {% endif %}"><a href="{% url 'matches:detail' pk=match.id %}">{% if match.hometeam.id is None %}BYE
                                    TEAM{% else %}{{ match.hometeam }}
                                    <img src="{{ match.hometeam.country.flag }}">{% endif %}</a><span>
            {% if match.bye_2 is True %}
                BYE
            {% elif match.hometeam.id is None or match.awayteam.id is None %}
                BYE
            {% elif match.winner.id == match.hometeam.id %}
                1
            {% else %}
                0
            {% endif %}
        </span></li>

                                <li class="spacer">&nbsp;</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    </main>
                </div>
            </div>
        </div>
    </div>

{% endblock %}