{% extends "base.html" %}
{% load staticfiles %}

  {% block head %}
  <title>Store - {{ SITE_NAME }}</title>
  {% endblock %}

{% block body %}
    <div class="container wrap">

 <div class="panel">
    <div class="panel-body">
    <div class="panel-title">Store</div>
    <br>


    <div class="col-xs-6 col-sm-3 bot10">
        <div class="panel-default">
         <div class="panel-body center">
          <img src="{% static 'images/credits.png' %}"><br>
          <h3><b>10 Credits</b></h3>
          <br><br>
          <a class="btn btn-primary btn-xs btn-block center" href="/store/product/1"> $8.00 ORDER NOW </a>
         </div>
         </div>
       </div>
        <div class="col-xs-6 col-sm-3 bot10">
        <div class="panel-default">
         <div class="panel-body center">
          <img src="{% static 'images/credits.png' %}"><br>
          <h3><b>25 Credits</b></h3>
          <br><br>
          <a class="btn btn-primary btn-xs btn-block center" href="/store/product/2"> $18.50 ORDER NOW </a>
         </div>
         </div>
       </div>
        <div class="col-xs-6 col-sm-3 bot10">
        <div class="panel-default">
         <div class="panel-body center">
          <img src="{% static 'images/credits.png' %}"><br>
          <h3><b>50 Credits</b></h3>
          <br><br>
          <a class="btn btn-primary btn-xs btn-block center" href="/store/product/3"> $38.00 ORDER NOW </a>
         </div>
         </div>
       </div>

    </div>
 </div>
    </div>
{% endblock %}