/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

body {
	background:#151515;
	overflow-x:hidden;
	color:#fff;
	font-size:12px;
	font-weight:400;
	font-family: 'Montserrat', Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
	font-family: 'Montserrat', Arial, sans-serif;
}
@media (min-width: 1280px) {
.container {
	width:1300px !important;
}
}
.dropdown-menu {
    background:#161c2d;
	font-size: 12px;
	color:#fff;
}
.form-control, input, select {
	background-image: linear-gradient(to right, #262933, #161c2e) !important;
	color:#fff !important;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    border-color: #161c2d;
	background-color:#161c2d;
}
.title {
    color: #fff;
    position: relative;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 34px;
    margin: 8px 0px;
}
.title:after {
    background: #3cf4fb;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    width: 100px;
    left: 102%;
}
.grad {
	background-image: linear-gradient(to right, #1d6b6f, #161c2e) !important;
}
.top-players {
	padding:20px;
	border-bottom:1px solid #151515;
	display:table;
	width:100%;
	height:60px;
	color:#fff;
}
.top-players:hover {
	color:#3cf4fb;
	cursor:pointer;
}
.top-players .fa {
	font-size:14px;
	color:#3cf4fb;
}
.top-players .rank {
	display:table-cell;
	vertical-align:middle;
	width:25%;
	text-align:center;
}
.top-players .ava {
	display:table-cell;
	vertical-align:middle;
	width:25%;
	text-align:center;
}
.top-players .ava img {
	border-radius:50%;
	width:32px;
	height:32px;
	margin-righ:10px;
}
.top-players .player {
	display:table-cell;
	vertical-align:middle;
	width:50%;
	text-align:left;
}
.top-players .ava2 {
	display:table-cell;
	vertical-align:middle;
	width:10%;
	text-align:center;
}
.top-players .ava2 img {
	border-radius:50%;
	width:38px;
	height:38px;
	margin-righ:5px;
}
.top-players .team {
	display:table-cell;
	vertical-align:middle;
	width:25%;
	text-align:left;
}
.top-players .game {
	display:table-cell;
	vertical-align:middle;
	width:30%;
	text-align:center;
}
.top-players .game .score {
	background:#161c2d;
	padding:6px;
	border-radius:5px;
	text-align:center;
	color:#fff;
	font-size:12px;
	font-weight:bold;
}
.how {
	margin-top:-200px;
	z-index:10;
}
table img {
	width:38px !important;
	margin:2px;
	height:auto;
	height:38px !important;
	border-radius:50%;
}
.space90 {
	width:100%;
	height:90px;
	margin:0 auto;
}
.fa2 .fa {
	font-size:20px;
	margin-right:4px;
}
a {
    color: #0cfcf3;
    text-decoration: none;
}
.clear {
	clear:both;
}
.avatar1 {
	border-radius:50%;
	width:200px;
	height:200px;
	border:3px solid #3cf4fb;
}
.prof-top {
	width:100%;
	margin:0px auto;
	padding:30px 0px 30px;
	background: url(images/profile-bg.jpg) top right no-repeat;
}
.page1 {
	margin-top:82px;
}
.min-page {
	max-width: 1400px;
}
.prof1 img {
	max-width:40px;
	height:auto;
}
.carousel-indicators {
    position: absolute;
    left: -16%;
    z-index: 15;
    width: 60%;
    margin-left: 0%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.slide-caption {
	position:absolute;
	top:40%;
	left:20%;
	z-index:999;
}
.slide-caption h1 {
	font-size:56px;
	font-weight:800;
	text-transform:uppercase;
}
.slide-caption h2 {
	font-size:32px;
	font-weight:400;
	text-transform:uppercase;
}
.btn-transparent {
	border-radius:2px;
	border:2px solid #3cf4fb;
	background:transparent;
	margin:2px;
	color:#fff;
	font-weight:400;
	padding:14px;
}
.btn-transparent:hover {
	border-radius:0px;
	border:2px solid #3db9be;
	background:transparent;
}
.panel {
	background: rgba(25,25,25,0.7);
	border:0px;
	border-radius:0px;
}
.panel-default {
	background:#141d24;
	border:0px;
	border-radius:0px;
	margin-bottom:10px;
}
.panel-title {
	background:transparent;
	background-color:transparent;
	border-bottom: 1px solid #3cf4fb;
	padding:10px;
	border-radius:0px;
	margin-bottom:10px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination a:hover {
    background-color: #3fdbd8;
}
.table-responsive > .table {
    background-color: #1e222d;
}
.table {
    background-color: #1e222d;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    border-top: 2px solid #111117;
}

tr {
border: 1px solid #111117;
}
.table>tbody>tr:hover {
	background: rgba(255,255,255,0.08)!important;
}
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.bot10 {
	margin-bottom:10px;
}
.bot20 {
	margin-bottom:20px;
}
.center {
	text-align:center;
}
.topbar {
	position: fixed;
    min-height: 34px;
    border: 0px solid transparent;
	border-top:0px solid #101016;
	background:#151218;
	width:100%;
	margin:0 auto;
	z-index:99999;
	top:0px;
	color:#fff;
}
.overlay1 {
		background-color: rgba(0,0,0,0.70);
}
.dropdown-menu {
    z-index:999999;
}
.navbar-brand {
    float: left;
    padding: 5px 0px;
    height: 48px;
}
@media (min-width: 768px) {
.navbar-nav {
    float: right;
}
}
#exTab1 {
	margin-bottom: 20px;
    background-color: #111;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border-color:#282828;
}
img {
	max-width:100%;
	height:auto;
}
#wrapper {
    width: 100%;
}
#page-wrapper {
    padding:20px 0px 0px;
    background-color:transparent;
	display:block;
	height:100%;
}
.navbar {
    position: fixed;
    border: 1px solid transparent;
	border-top:0px solid #101016;
	border-bottom:2px solid #ff29f8;
	background:#151218;
	width:100%;
	margin:0 auto;
	z-index:99998;
	top:0px;
	min-height: 48px;
	padding:10px;
}
.footer {
	width:100%;
	margin:0px auto 0px;
	background-image: linear-gradient(to top, rgba(25,32,47,1.0), rgba(25,32,47,0.0)); 
	padding:100px 0px 40px;
	border-top:0px solid #ec1c24;
}
hr {
	height:2px;
	background:#1c1d2f;
	width:100%;
	border:0px;
	margin:0px auto 10px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1, h2, h3, h4 {
	font-weight:300;
}

.open {
	marign-top:-1px;
}
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 0px 0 rgba(255,255,255,0.0);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
	border-bottom:2px solid transparent;
	font-weight:bold;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
	border-bottom:2px solid #3cf4fb;
}
.footer {
	color:#fff;
}
.footer span {
	color:#6e6e7c;
}
.footer h1 {
	color:#fff;
	font-size:38px;
}
.footer a .fa {
	font-size:24px;
	padding:3px;
	color:#fff;
}
.footer a {
	color:#a7ecef;
	line-height:30px;
}
.footer .copyright {
	color:#a7ecef;
	padding:10px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.dropdown-menu>li>a {
    display: block;
    padding: 5px 15px;
    clear: both;
    font-weight: normal;
    line-height: 1.22857143;
    color: #fff;
    white-space: nowrap;
}
.dropdown-menu>li>a:hover {
    background:#3cf4fb;
}
.current-home, .past-home {
	position:relative;
}
.info1 {
	display:table;
}
.info1 .desc {
	display:table-cell;
	vertical-align:middle;
}
.info1 .desc h3 {
	font-size:18px;
	font-weight:bold;
}
.circle1 {
	border-radius: 50%;
	border: 4px solid #1b1b24;
}
.console-label {
	position:absolute;
	width:70px;
	right:5px;
	top:5px;
	text-align:right;
	font-weight:bold;
	font-size:11px;
}
.join-label {
	position:absolute;
	width:70px;
	right:5px;
	bottom:5px;
	text-align:right;
	font-weight:bold;
	font-size:11px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 0px;
	font-size:18px;
	border: 0px solid #464545;
	color:#fff;
    border-bottom: 4px solid transparent;
	background:#151515;
}
.nav-tabs > li > a:hover {
	color: #fff;
    background-color: #141d24;
    border: 0px solid #464545;
	border-bottom: 4px solid transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #141d24;
	border: 0px solid #464545;
    border-bottom: 4px solid #0cfcf3;
}
.nav-tabs {
    border-bottom: 0px solid #0cfcf3;
	margin-bottom:20px;
}
.icon1 {
	float:left;
	margin-right:20px;
}
b, strong {
	font-weight:900;
}
.whitebg {
	background:#fff;
	color:#656565;
	padding:40px 0px;
	margin:0px auto;
}
.whitebg .panel {
	background:#fff;
	border:1px solid #ddd;
}
.whitebg span {
	color:#0cfcf3;
}
.finder {
	position:fixed;
	top:40%;
	right:0px;
	width:100px;
	z-index:999;
}
.finder small {
	font-size:10px;
	text-align:center;
}
.finder .btn-sm {
	background:#1c1d2f;
	border:0px;
	color:#fff;
	border-radius:0px;
}